<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.ocpp.dao.mybatis">
		<!--beans:prop key="cache.node.flush">900000</beans:prop>-->
	</osgix:cm-properties>

	<!-- Service References -->
	
	<reference id="dataSource" interface="javax.sql.DataSource" filter="(db=central)"/>
	
	<reference id="txManager" interface="org.springframework.transaction.PlatformTransactionManager"
		filter="(db=central)"/>
	
	<!-- Published Services -->
	
	<service ref="authorizationDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.CentralAuthorizationDao</value>
			<value>net.solarnetwork.ocpp.dao.AuthorizationDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="chargePointDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.CentralChargePointDao</value>
			<value>net.solarnetwork.ocpp.dao.ChargePointDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="chargePointConnectorDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.CentralChargePointConnectorDao</value>
			<value>net.solarnetwork.ocpp.dao.ChargePointConnectorDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="chargePointSettingsDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.ChargePointSettingsDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="chargeSessionDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.CentralChargeSessionDao</value>
			<value>net.solarnetwork.ocpp.dao.ChargeSessionDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="systemUserDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.CentralSystemUserDao</value>
			<value>net.solarnetwork.ocpp.dao.SystemUserDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="userSettingsDao">
		<interfaces>
			<value>net.solarnetwork.central.ocpp.dao.UserSettingsDao</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
		</service-properties>
	</service>

	<service ref="sqlSessionFactory" interface="org.apache.ibatis.session.SqlSessionFactory">
		<service-properties>
			<entry key="db" value="central"/>
			<entry key="function" value="ocpp"/>
		</service-properties>
	</service>

	<!-- Supporting Services -->
	
	<bean id="authorizationDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisCentralAuthorizationDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="chargePointDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisCentralChargePointDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="chargePointSettingsDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisChargePointSettingsDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="chargePointConnectorDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisCentralChargePointConnectorDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="chargeSessionDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisCentralChargeSessionDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="systemUserDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisCentralSystemUserDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>

	<bean id="userSettingsDao" class="net.solarnetwork.central.ocpp.dao.mybatis.MyBatisUserSettingsDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
		
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<argument ref="sqlSessionFactory"/>
		<argument value="#{T(org.apache.ibatis.session.ExecutorType).BATCH}"/>
		<argument>
			<bean class="net.solarnetwork.central.dao.mybatis.support.MyBatisExceptionTranslator">
				<argument ref="dataSource"/>
				<argument value="true"/>
			</bean>
		</argument>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configurationProperties" ref="cfg"/>
		<property name="typeHandlers">
			<list>
				<bean class="net.solarnetwork.central.dao.mybatis.type.TextArrayTypeHandler"/>
				<bean class="net.solarnetwork.central.dao.mybatis.type.UUIDTypeHandler"/>
			</list>
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/CentralAuthorization.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/CentralChargePoint.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/CentralChargePointConnector.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/CentralChargeSession.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/CentralSystemUser.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/ChargePointSettings.xml</value>
				<value>classpath:/net/solarnetwork/central/ocpp/dao/mybatis/map/UserSettings.xml</value>
			</list>
		</property>
	</bean>
	
</blueprint>
