<!DOCTYPE html>
<html data-th-replace="~{layout-error :: layout(~{::title}, ~{::main}, ${status})}">
<head>
    <title data-th-text="#{error.page.unknown.title}">Error</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
</head>
<body>
<main>
	<h1 data-th-text="#{error.page.unknown.header}">Error</h1>
	<p data-th-text="#{error.page.unknown.message}">That was unexpected.</p>
</main>
</body>
</html>
