<!DOCTYPE html>
<html>
<head>
	<title>Cloud Integration OAuth Integrations</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<section id="c2c-oauth-connect" data-th-fragment="content">
		<div class="no-entities hidden">
			<p data-th-utext="#{c2c.oauth.list.intro.empty}">You have no
				Cloud Integrations that support OAuth.</p>
		</div>
		<div class="some-entities" data-th-classappend="'hidden'">
		<p data-th-utext="#{c2c.oauth.list.intro.some(0)}">
			Your OAuth Cloud Integrations are shown here.
		</p>
		<form id="c2c-oauth-connect-form"  class="form form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label" data-th-text="#{c2c.oauth.integration.label}">
					Integration
				</label>
				<div class="col-sm-8">
					<select id="c2c-oauth-integration-select" name="integrationId" class="form-control">
						<option data-th-remove="all"></option>
						<option value="123" data-th-remove="all">My Integration</option>
					</select>
				</div>
			</div>
			<div class="form-group active" data-th-classappend="'hidden'">
				<label class="col-sm-3 control-label" data-th-text="#{c2c.oauth.clientId.label}">
					Client ID
				</label>
				<div class="col-sm-8">
					<p class="form-control-static" data-tprop="clientId">abc123</p>
				</div>
			</div>
			<div class="form-group active" data-th-classappend="'hidden'">
				<label class="col-sm-3 control-label" data-th-text="#{c2c.oauth.clientSecret.label}">
					Client Secret
				</label>
				<div class="col-sm-8">
					<span class="form-control-static label label-success" data-th-class="|label|"
							data-tprop="clientSecretPresent"
							data-th-data-true-text="#{c2c.oauth.clientSecret.present}"
							data-th-data-false-text="#{c2c.oauth.clientSecret.missing}">Present</span>
				</div>
			</div>
			<div class="form-group active" data-th-classappend="'hidden'">
				<label class="col-sm-3 control-label" data-th-text="#{c2c.oauth.status.label}">
					Status
				</label>
				<div class="col-sm-8">
					<p class="form-control-static">Valid</p>
				</div>
			</div>
			<div class="form-group active" data-th-classappend="'hidden'">
				<div class="col-sm-offset-3 col-sm-8">
				  <button type="button" class="btn btn-default" data-th-text="#{c2c.oauth.connect.label}">Connect</button>
				</div>
			</div>
		</form>
	</div>
</section>
</body>
</html>
