<!DOCTYPE html>
<html>
<head>
	<title>Cloud Integration OAuth Integrations</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<section id="c2c-oauth" data-th-fragment="content">
	<h2>
		<span data-th-text="#{c2c.oauth.list.header}">Integrations</span>
	</h2>
	<p class="intro" data-th-utext="#{c2c.oauth.list.intro(0)}">
		Your OAuth Cloud Integrations are shown here.
	</p>

</section>
</body>
</html>
