<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<!--/*
	The .edit-config class attached to .modal activates "modal configuration edit form" mode.
 */-->
<form id="edit-expire-data-config-modal" class="modal fade edit-config expire" data-th-action="@{/u/sec/expire/configs/data}" method="post" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{expire.dataConfig.edit.title}">Edit Policy</h4>
			</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{expire.dataConfig.edit.intro}">Edit your policy here.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.name.label}">
		 				Name
		 			</label>
		 			<div class="col-sm-8">
		 				<!--/*
		 					Form field names correspond to model object property names.
		 				 */-->
		 				<input type="text" class="form-control" name="name" 
		 					data-th-placeholder="#{expire.dataConfig.name.placeholder}"
		 					maxlength="64" required="required">
			 		</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.nodes.label}">
		 				Nodes
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="datumFilter.nodeIds"
		 					placeholder="Comma-delimited list of node IDs" 
		 					data-th-placeholder="#{expire.dataConfig.nodes.placeholder}"
		 					maxlength="128">
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.sources.label}">
		 				Sources
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="datumFilter.sourceIds" 
		 					placeholder="Comma-delimited list of source IDs"
		 					data-th-placeholder="#{expire.dataConfig.sources.placeholder}"
		 					maxlength="256">
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.aggregation.label}">
		 				Aggregation
		 			</label>
		 			<div class="col-sm-8">
		 				<select class="form-control expire-data-aggregation-types" name="datumFilter.aggregationKey">
		 				</select>
		 				<div class="caption" data-th-utext="#{expire.dataConfig.aggregation.caption}">
		 					Also delete rolled up aggregates up to and including this level.
		 				</div>
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.expireDays.label}">
		 				Expire days
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="number" class="form-control" name="expireDays" 
		 					placeholder="Expire age, in days"
		 					data-th-placeholder="#{expire.dataConfig.expireDays.placeholder}"
		 					min="1" max="36500" required>
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{expire.dataConfig.active.label}">
		 				Active
		 			</label>
		 			<div class="col-sm-8">
						<button type="button" name="active" class="form-control setting-form-element toggle btn btn-default" 
							data-toggle="setting-toggle" aria-pressed="false"
							data-th-data-on-text="#{settings.toggle.enabled}"
							data-th-data-off-text="#{settings.toggle.disabled}"
							data-th-text="#{settings.toggle.disabled}">
							Off
						</button>
						<div class="caption" data-th-utext="#{expire.dataConfig.active.caption}">
							Only enabled policies are applied.
						</div>
		 			</div>
		 		</div>
		 	</div>
		 	<!--/*
		 		The .service-props-container class defines where dynamic setting form elements will be rendered.
		 	 */-->
		 	<div class="modal-body form-horizontal service-props-container hidden">
		 	</div>
		 	<!--/*
		 		The .delete-confirm class will be shown/hidden via the .hidden class to confirm the delete action.
		 	 */-->
		 	<div class="modal-body delete-confirm hidden">
		 		<p class="alert alert-danger" data-th-text="#{expire.deleteConfiguration.confirm.intro}">
		 			Are you sure you want to delete?
		 		</p>
		 	</div>
		 	<div class="modal-footer">
			 	<!--/*
			 		The .delete-config button defines the button used to initiate the delete action.
			 	 */-->
		 		<button type="button" class="btn btn-danger pull-left delete-config hidden">
		 			<span class="glyphicon glyphicon-trash"></span>
		 			<span data-th-text="#{expire.deleteConfiguration.label}">Confirm</span>
		 		</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</button>
				<!--/*
					The submit button performs the create/update save action.
				 */-->
		 		<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
		 	</div>
		 </div>
 	</div>
 	<!--/*
 		The id field stores the primary key of the configuration to update, and must be cleared when
 		creating a new object.
 	 */-->
 	<input type="hidden" name="serviceIdentifier" value="net.solarnetwork.central.user.expire.standard.DefaultUserExpireDataFilterService"/>
	<input type="hidden" name="id"/>
</form>
</body>
</html>
