<!DOCTYPE html>
<html data-th-replace="~{layout-error :: layout(~{::title}, ~{::main}, '404')}">
<head>
    <title data-th-text="#{error.page.404.title}">Not found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../static/css/global.css">
</head>
<body>
<main>
	<h1 data-th-text="#{error.page.404.header}">Error</h1>
	<p data-th-text="#{error.page.404.message}">That was not found.</p>
</main>
</body>
</html>
