<!DOCTYPE html>
<html>
<head>
	<title>DIN Endpoint Authorization Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="inin-auth-edit-modal" class="edit-config inin" data-th-classappend="'modal fade'"
		method="post" tabindex="-1" role="dialog" data-th-action="@{/u/sec/inin/endpoints/{endpointId}/auths}"
		data-system-type="auth" data-ajax-method="put" data-settings-url-id="true"
		data-settings-url-id-create-property="credentialId">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" data-th-utext="#{inin.auth.edit.title}">Edit DIN Authorized Identity</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-th-aria-label="#{close.label}"></button>
			</div>
		 	<div class="modal-body">
		 		<p data-th-utext="#{inin.auth.edit.intro}">You can toggle the enabled state, or delete this item.</p>
		 		<div class="row mb-3">
					<label class="col-sm-3 col-form-label" data-th-text="#{inin.auth.credentialId.label}">
						Credential
					</label>
					<div class="col-sm-8">
						<select class="form-select" name="credentialId" required>
						</select>
					</div>
				</div>
				<div class="row mb-3">
		 			<label class="col-sm-3 col-form-label" data-th-text="#{inin.auth.enabled.label}">
		 				Enabled
		 			</label>
		 			<div class="col-sm-8">
						<button type="button" name="enabled" class="setting-form-element toggle btn btn-light w-100"
							data-toggle="setting-toggle" aria-pressed="false"
							data-th-data-on-text="#{settings.enabled.label}"
							data-th-data-off-text="#{settings.disabled.label}"
							data-th-text="#{settings.toggle.disabled}">
							Disabled
						</button>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="modal-body delete-confirm" data-th-classappend="'hidden'">
		 		<p class="alert alert-danger" data-th-utext="#{inin.auth.delete.confirm.intro}">
		 			Are you sure you want to delete this authorized identity?
		 		</p>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" class="btn btn-danger me-auto delete-config" data-th-classappend="'hidden'">
		 			<span class="bi bi-trash3"></span>
		 			<span data-th-text="#{inin.auth.delete.label}">Delete</span>
		 		</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-th-text="#{cancel.label}">Cancel</button>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
		 	</div>
		 </div>
 	</div>
	<input type="hidden" name="endpointId">
</form>
</body>
</html>
