<!DOCTYPE html>
<html data-th-replace="layout :: layout(~{::title}, ~{::content}, ~{}, 'oscp')">
<head>
    <title data-th-text="#{oscp.title}">OSCP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div class="container" data-th-fragment="content" id="oscp-management"
	data-th-data-i18n-system-type-cp="#{oscp.system.cp.label}"
	data-th-data-i18n-system-type-co="#{oscp.system.co.label}"
	>
<a id="top"></a>

<p class="intro" data-th-utext="#{oscp.intro}">
	Here is your OSCP related stuff.
</p>

<div data-th-replace="sec/oscp/oscp-settings :: content"></div>
<div data-th-replace="sec/oscp/oscp-cp-list :: content"></div>

<!--/* Modal forms */-->

<form data-th-replace="sec/oscp/oscp-settings-edit-modal :: form"></form>
<form data-th-replace="sec/oscp/oscp-system-token-modal :: div"></form>
<form data-th-replace="sec/oscp/oscp-cp-edit-modal :: form"></form>

</div>
</body>
</html>
