<!DOCTYPE html>
<html>
<head>
	<title>OSCP Capacity Group Measurement Period</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<select data-th-fragment="content">
	<option value="Minute" data-th-text="#{oscp.measurementPeriod.Minute}">Every minute</value>
	<option value="FiveMinute" data-th-text="#{oscp.measurementPeriod.FiveMinute}">Five minutes</value>
	<option value="TenMinute" data-th-text="#{oscp.measurementPeriod.TenMinute}">Ten minutes</value>
	<option value="FifteenMinute" selected data-th-text="#{oscp.measurementPeriod.FifteenMinute}">Fifteen minutes</value>
	<option value="TwentyMinute" data-th-text="#{oscp.measurementPeriod.TwentyMinute}">Twenty minutes</value>
	<option value="ThirtyMinute" data-th-text="#{oscp.measurementPeriod.ThirtyMinute}">Thirty minutes</value>
	<option value="Hour" data-th-text="#{oscp.measurementPeriod.Hour}">Hour</value>
</select>
</body>
</html>
