<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="edit-adhoc-datum-export-config-modal" class="edit-config export" data-th-classappend="'modal fade'"
		data-th-action="@{/u/sec/export/adhocRef}" method="post" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{export.adhocDatumExportConfig.edit.title}">Adhoc export configuration</h4>
			</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{export.adhocDatumExportConfig.edit.intro}">Edit this form to create your adhoc export.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{export.adhocDatumExportConfig.name.label}">
		 				Name
		 			</label>
		 			<div class="col-sm-8">
		 				<!--/*
		 					Form field names correspond to model object property names.
		 				 */-->
		 				<input type="text" class="form-control" name="name"
		 					data-th-placeholder="#{export.datumExportConfig.name.placeholder}"
		 					maxlength="64" required="required">
			 		</div>
		 		</div>

		 		<!-- Data filter config -->
				<div class="form-group">
					<label class="col-sm-3 control-label" data-th-text="#{export.dataConfig.nodes.label}">
						Nodes
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="dataConfiguration.datumFilter.nodeIds"
							data-th-placeholder="#{export.dataConfig.nodes.placeholder}"
							maxlength="128">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" data-th-text="#{export.dataConfig.sources.label}">
						Sources
					</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="dataConfiguration.datumFilter.sourceIds"
							data-th-placeholder="#{export.dataConfig.sources.placeholder}"
							maxlength="256">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" data-th-text="#{export.dataConfig.aggregation.label}">
						Aggregation
					</label>
					<div class="col-sm-8">
						<select class="form-control export-data-aggregation-types" name="dataConfiguration.datumFilter.aggregationKey">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="adhoc-datum-export-min-date" data-th-text="#{export.adhocDatumExportConfig.minDate.label}">
						Min date
					</label>
					<div class="col-sm-8">
						<input type="text" name="dataConfiguration.datumFilter.startDate" class="form-control" id="adhoc-datum-export-min-date"
							data-th-placeholder="#{datumDelete.minDate.placeholder}" required>
				 		<span id="helpBlock" class="help-block" data-th-utext="#{export.adhocDatumExportConfig.minDate.caption}">
				 			The minimum export date.
				 		</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="adhoc-datum-export-max-date" data-th-text="#{export.adhocDatumExportConfig.maxDate.label}">
						Max date
					</label>
					<div class="col-sm-8">
						<input type="text" name="dataConfiguration.datumFilter.endDate" class="form-control" id="adhoc-datum-export-max-date"
							data-th-placeholder="#{export.adhocDatumExportConfig.maxDate.placeholder}" required>
				 		<span id="helpBlock" class="help-block" data-th-utext="#{export.adhocDatumExportConfig.maxDate.caption}">
				 			The maximum date, exclusive.
				 		</span>
					</div>
				</div>

				<!-- Destination, format service config -->
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{export.datumExportConfig.destinationConfigurationId.label}">
		 				Destination
		 			</label>
		 			<div class="col-sm-8">
		 				<select class="form-control" name="destinationConfigurationId" required>
		 				</select>
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{export.datumExportConfig.outputConfigurationId.label}">
		 				Output
		 			</label>
		 			<div class="col-sm-8">
		 				<select class="form-control" name="outputConfigurationId" required>
		 				</select>
		 			</div>
		 		</div>
		 	</div>
		 	<!--/*
		 		The .service-props-container class defines where dynamic setting form elements will be rendered.
		 	 */-->
		 	<div class="modal-body form-horizontal service-props-container hidden">
		 	</div>
		 	<!--/*
		 		The .delete-confirm class will be shown/hidden via the .hidden class to confirm the delete action.
		 	 */-->
		 	<div class="modal-body delete-confirm hidden">
		 		<p class="alert alert-danger" data-th-text="#{export.deleteConfiguration.confirm.intro}">
		 			Are you sure you want to delete this configuration?
		 		</p>
		 	</div>
		 	<div class="modal-footer">
			 	<!--/*
			 		The .delete-config button defines the button used to initiate the delete action.
			 	 */-->
		 		<button type="button" class="btn btn-danger pull-left delete-config hidden">
		 			<span class="glyphicon glyphicon-trash"></span>
		 			<span data-th-text="#{export.deleteConfiguration.label}">Delete</span>
		 		</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</button>
				<!--/*
					The submit button performs the create/update save action.
				 */-->
		 		<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
		 	</div>
		 </div>
 	</div>
 	<!--/*
 		The id field stores the primary key of the configuration to update, and must be cleared when
 		creating a new object.
 	 */-->
	<input type="hidden" name="id">
</form>
</body>
</html>
