<!DOCTYPE html>
<html>
<head>
	<title>DIN Endpoint Credential Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="din-credential-edit-modal" class="edit-config din" data-th-classappend="'modal fade'"
		method="post" tabindex="-1" role="dialog" data-th-action="@{/u/sec/din/credentials}"
		data-system-type="c" data-settings-update-method="put" data-settings-url-id="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{din.credential.edit.title}">Edit Endpoint credential</h4>
			</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{din.credential.edit.intro}">Edit the Endpoint credential details on this form.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{din.credential.username.label}">
		 				Username
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="username" maxlength="64" required="required">
			 		</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{din.credential.password.label}">
		 				Password
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="password" class="form-control" name="password" maxlength="64" required="required">
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{din.credential.expires.label}">
		 				Expires
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="date" class="form-control" name="expires">
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{din.credential.enabled.label}">
		 				Enabled
		 			</label>
		 			<div class="col-sm-8">
						<button type="button" name="enabled" class="form-control setting-form-element toggle btn btn-default"
							data-toggle="setting-toggle" aria-pressed="false"
							data-th-data-on-text="#{settings.enabled.label}"
							data-th-data-off-text="#{settings.disabled.label}"
							data-th-text="#{settings.toggle.disabled}">
							Disabled
						</button>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="modal-body delete-confirm hidden">
		 		<p class="alert alert-danger" data-th-utext="#{din.credential.delete.confirm.intro}">
		 			Are you sure you want to delete this configuration?
		 		</p>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" class="btn btn-danger pull-left delete-config hidden">
		 			<span class="glyphicon glyphicon-trash"></span>
		 			<span data-th-text="#{din.credential.delete.label}">Delete</span>
		 		</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{cancel.label}">Cancel</button>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
		 	</div>
		 </div>
 	</div>
	<input type="hidden" name="id">
	<input type="hidden" name="userId" data-th-data-user-id="${actorUserId}">
</form>
</body>
</html>
