<!DOCTYPE html>
<html>
<head>
	<title>DIN Entpoint Transform Preview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="din-endpoint-transform-preview-modal" class="din" data-th-classappend="'modal fade'"
		method="post" tabindex="-1" role="dialog" data-th-action="@{/u/sec/din/transforms/{transformId}/preview/{endpointId}/params}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{din.endpoint.transform.preview.title}">Endpoint Transform Preview</h4>
			</div>
		 	<div class="modal-body endpoint-details-container">
		 		<p data-th-utext="#{din.endpoint.transform.preview.intro}">Fill in your test measurement data and click <b>Execute</b> to preview the transform output.</p>
		 		<div class="row">
		 			<div class="col-xs-2"><b data-th-text="#{din.endpoint.name.label}">Endpoint</b></div>
		 			<div class="col-xs-10" data-tprop="name">My Device XML</div>
		 		</div>
		 		<div class="row">
		 			<div class="col-xs-2"><b data-th-text="#{din.endpoint.transformId.label}">Transform</b></div>
		 			<div class="col-xs-10" data-tprop="transformDisplay">Device XML measurement</div>
		 		</div>
		 		<hr>
		 		<div class="row">
		 			<div class="col-xs-4 border-rule-right">
						<div class="form-group">
							<label for="din-endpoint-transform-input-data" data-th-text="#{din.endpoint.transform.preview.inputData.label}">Input data</label>
							<textarea class="form-control" id="din-endpoint-transform-input-data" name="inputData" required></textarea>
							<label for="din-endpoint-transform-previous-input-data" data-th-text="#{din.endpoint.transform.preview.previousInputData.label}">Previous input data</label>
							<textarea class="form-control" id="din-endpoint-transform-previous-input-data" name="previousInputData"></textarea>
						</div>
						<div class="form-group">
							<label for="din-endpoint-transform-input-type">Data type</label>
							<input type="text" class="form-control" id="din-endpoint-transform-input-type" name="inputType" required>
							<select class="form-control" id="din-endpoint-transform-input-type-shortcuts">
								<option></option>
								<optgroup label="Data type shortcuts" data-th-label="#{din.endpoint.transform.preview.type.shortcuts.label}">
									<option value="application/json" data-th-text="#{din.endpoint.transform.preview.type.json}">JSON</option>
									<option value="text/xml" data-th-text="#{din.endpoint.transform.preview.type.xml}">XML</option>
								</optgroup>
							</select>
						</div>
		 			</div>
		 			<div class="col-xs-8" id="din-endpoint-transform-output-container">
						<p class="hidden" data-th-class="'before'" data-th-text="#{din.endpoint.transform.preview.output.intro}">The output will appear here.</p>
						<div class="datum-container" data-th-classappend="'hidden'">
							<p data-th-text="#{din.endpoint.transform.preview.output.datum.intro}">The following table shows the successfully generated SolarNetwork datum.</p>
							<table class="table">
								<thead>
									<tr>
										<th data-th-text="#{din.endpoint.transform.preview.output.datum.created.label}">Timestamp</th>
										<th data-th-text="#{din.endpoint.transform.preview.output.datum.nodeId.label}">Node</th>
										<th data-th-text="#{din.endpoint.transform.preview.output.datum.sourceId.label}">Source</th>
										<th data-th-text="#{din.endpoint.transform.preview.output.datum.properties.label}">Properties</th>
									</tr>
									<tr class="template">
										<td data-tprop="created"></td>
										<td data-tprop="nodeId"></td>
										<td data-tprop="sourceId"></td>
										<td class="small">
											<div class="i-props hidden">
												<h5 data-th-text="#{din.endpoint.transform.preview.output.datum.i.header}">Instantaneous</h5>
												<dl class="dl-horizontal service-props-container">
												</dl>
												<dl class="service-props-template hidden">
													<dt class="template" data-tprop="serviceProperties.name"></dt>
													<dd class="template" data-tprop="serviceProperties.value"></dd>
												</dl>
											</div>
											<div class="a-props hidden">
												<h5 data-th-text="#{din.endpoint.transform.preview.output.datum.a.header}">Accumulating</h5>
												<dl class="dl-horizontal service-props-container">
												</dl>
												<dl class="service-props-template hidden">
													<dt class="template" data-tprop="serviceProperties.name"></dt>
													<dd class="template" data-tprop="serviceProperties.value"></dd>
												</dl>
											</div>
											<div class="s-props hidden">
												<h5 data-th-text="#{din.endpoint.transform.preview.output.datum.s.header}">Status</h5>
												<dl class="dl-horizontal service-props-container">
												</dl>
												<dl class="service-props-template hidden">
													<dt class="template" data-tprop="serviceProperties.name"></dt>
													<dd class="template" data-tprop="serviceProperties.value"></dd>
												</dl>
											</div>
											<div class="t-props hidden">
												<h5 data-th-text="#{din.endpoint.transform.preview.output.datum.t.header}">Tags</h5>
												<ul class="service-props-container">
												</ul>
												<ul class="service-props-template hidden">
													<li class="template" data-tprop="serviceProperties.value"></li>
												</ul>
											</div>
										</td>
									</tr>
								</thead>
								<tbody class="list-container">
								<!--/*-->
									<tr>
										<td data-tprop="created">2024-03-01 12:00:00Z</td>
										<td data-tprop="nodeId">123</td>
										<td data-tprop="sourceId">meter/1</td>
										<td class="small">
											<div class="i-props">
												<h5>Instantaneous</h5>
												<dl class="dl-horizontal">
													<dt>watts</dt>
													<dd>1234</dd>
													<dt>voltage</dt>
													<dd>271.2</dd>
												</dl>
											</div>
											<div class="a-props">
												<h5>Accumulating</h5>
												<dl class="dl-horizontal">
													<dt>wattHours</dt>
													<dd>123456</dd>
												</dl>
											</div>
											<div class="t-props">
												<h5>Tags</h5>
												<ul class="dl-horizontal">
													<li>online</li>
												</ul>
											</div>
										</td>
									</tr>
								<!--*/-->
								</tbody>
							</table>
						</div>
						<div class="error-container" data-th-classappend="'hidden'"></div>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="submit" class="btn btn-primary" data-th-text="#{execute.label}">Execute</button>
		 	</div>
		 </div>
 	</div>
</form>
</body>
</html>
