.navbar .navbar-brand {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

footer {
	margin-top: 12px;
}

fieldset.review .uneditable-input {
	color: black;
}

pre.cert {
	font-size: 9px;
	line-height: 11px;
	max-height: 160px;
}

section + section {
	margin-top: 24px;
	border-top: 2px solid #d6ad15;
}

.timezone-pin {
	display: none;
}

.tz-picker-container {
	text-align: center;
}

.tz-picker-container div,
.tz-picker-container map {
    margin: auto;
}

#modal-cert-container {
	margin-top: 12px;
}

#invite-tz-country {
	margin-left: -15px;
	font-weight: 700;
}

.hbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.after {
	display: none;
}

.monospace {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.modal-body {
	overflow-x: hidden;
}

.hidden,
.template {
	display: none !important;
}

#create-data-auth-token .checkbox label {
	margin-right: 18px;
}

.modal-header.bg-danger {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-content .carousel-indicators {
	bottom: 0;
}

.modal-content .carousel-indicators li + li {
	margin-left: 10px;
}

.modal.danger .modal-content {
	background-color: #c0a2a2;
}

.modal.danger .modal-header {
	border-bottom-color: #867575;
}

.modal.danger .modal-footer {
	border-top-color: #867575;
}

.modal.danger legend {
	border-bottom-color: #867575;
}

.carousel-indicators.dark li {
	background-color: #777;
	border: none;
}

.carousel-indicators.dark .active {
	background-color: #d6ad15;
	border: none;
}

.label-as-badge {
	border-radius: 1em;
}

.alert-situation-count {
	margin-left: 4px;
}

.alert-situation-info dl {
	margin-bottom: 0;
}

.alert-situation-info .dl-horizontal dt {
	width: 80px;
}

.alert-situation-info .dl-horizontal dt:after {
	content: ":";
}
.alert-situation-info .dl-horizontal dd {
	margin-left: 90px;
}

.toggle-buttons {
	margin-bottom: 10px;
}

.toggle-buttons .toggle {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 2px;
}

dl:not(.hbox):not(.dl-horizontal) dd + dt {
	margin-top: 12px;
}

dl.hbox {
	flex-wrap: wrap;
	margin-left: -1em;
}

dl.hbox > * {
	margin-left: 1em;
}

dl.hbox dt {
	margin-right: -0.5em;
}

dl.hbox dt::after {
	content: ':';
}

.nav-pills.form-group {
	margin-bottom: 15px;
}

tfoot .ledger-amount-label {
	text-align: right;
}

table.tally td:last-child,
table.tally th:last-child {
	text-align: right;
}

table.tally tfoot td,
table.tally tfoot th {
	border-top: 1px solid #666;
}

table.invoice table.tally td + td,
table.invoice table.tally th + th {
	text-align: right;
}

table.table *.borderless tr td,
table.table *.borderless tr th {
	border: none;
}


table.table-body-borderless tbody td,
table.table-body-borderless tbody th {
	border: none;
}

table.table-body-borderless tbody tr.rule + tr td,
table.table-body-borderless tbody tr.rule + tr th {
	border-top: inherit;
}

.edit-config span.config-name,
.config-action span.config-name {
	font-style: italic;
}

.edit-config span.config-name:before,
.config-action span.config-name:before {
	content: open-quote;
}

.edit-config span.config-name:after,
.config-action span.config-name:after {
	content: close-quote;
}

.edit-config fieldset {
	margin-top: 2rem;
}

.edit-config fieldset.dynamic-list + fieldset.dynamic-list {
	margin-top: 4rem;
}

.input-line {
	display: inline-block;
	font-family: monospace;
	font-size: 80%;
	background-color: #ededed;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #ccc;
}

td.edit-dropdown,
th.edit-dropdown {
	min-width: 100px;
}

.dynamic-list .dynamic-list-container .dynamic-list-item + .dynamic-list-item {
	margin-top: 2rem;
}