<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd	
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd	
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.in.ocpp.mqtt">
		<beans:prop key="mqtt.topic.v16">instr/OCPP_v16</beans:prop>
		<beans:prop key="mqtt.timeout">30</beans:prop>
		<beans:prop key="mqtt.publishOnly">true</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>

	<!-- Service references -->

	<reference id="instructionDao" interface="net.solarnetwork.central.instructor.dao.NodeInstructionDao"/>

	<reference id="chargePointDao" interface="net.solarnetwork.central.ocpp.dao.CentralChargePointDao" filter="(function=central)"/>

	<reference id="chargePointRouter" interface="net.solarnetwork.ocpp.service.ChargePointRouter" filter="(function=central)"/>

	<service ref="instructionHandler_v16">
		<interfaces>
			<value>net.solarnetwork.ocpp.service.ActionMessageProcessor</value>
			<value>net.solarnetwork.common.mqtt.MqttConnectionObserver</value>
		</interfaces>
		<service-properties>
			<entry key="function" value="central"/>
			<entry key="role" value="solarin"/>
		</service-properties>
	</service>

	<bean id="objectMapper" class="net.solarnetwork.util.ObjectMapperFactoryBean">
		<property name="jsonFactory">
			<bean class="com.fasterxml.jackson.dataformat.cbor.CBORFactory"/>
		</property>
		<property name="featuresToDisable">
			<list>
				<value>#{T(com.fasterxml.jackson.databind.SerializationFeature).WRITE_DATES_AS_TIMESTAMPS}</value>
			</list>
		</property>
		<property name="modules">
			<list>
				<bean class="com.fasterxml.jackson.module.jaxb.JaxbAnnotationModule"/>
			</list>
		</property>
	</bean>

	<bean id="instructionHandler_v16" class="net.solarnetwork.central.in.ocpp.mqtt.MqttInstructionHandler">
		<argument value="ocpp.v16.ChargePointAction"/>
		<argument ref="instructionDao"/>
		<argument ref="chargePointDao"/>
		<argument ref="objectMapper"/>
		<argument ref="chargePointRouter"/>
		<property name="mqttTopic" value="${mqtt.topic.v16}"/>
		<property name="mqttTimeout" value="${mqtt.timeout}"/>
		<property name="publishOnly" value="${mqtt.publishOnly}"/>
	</bean>
	
</blueprint>
