<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgi="http://www.eclipse.org/gemini/blueprint/schema/blueprint"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint
		http://www.eclipse.org/gemini/blueprint/schema/blueprint/gemini-blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.datum.export.jobs">
		<beans:prop key="DatumExportProcessor.jobCron">0 1/10 * * * ?</beans:prop>
		<beans:prop key="DatumExportProcessor.maximumWaitMs">300000</beans:prop>
		<beans:prop key="DatumExportProcessor.maximumClaimCount">1000</beans:prop>
		<beans:prop key="DatumExportTaskCleaner.jobCron">0 47 * * * ?</beans:prop>
		<beans:prop key="DatumExportTaskCleaner.minimumAgeMinutes">720</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>
	
	<!-- Service references -->

	<reference id="eventAdmin" interface="org.osgi.service.event.EventAdmin"/>

	<reference id="datumExportService" interface="net.solarnetwork.central.datum.export.biz.DatumExportBiz"/>

	<reference id="taskDao" interface="net.solarnetwork.central.datum.export.dao.DatumExportTaskInfoDao"/>

	<!-- Published services -->	

	<!-- Published Services -->

	<service ref="datumExportProcessorJob" interface="org.osgi.service.event.EventHandler">
		<service-properties>
			<entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<array value-type="java.lang.String">
					<value>#{T(net.solarnetwork.central.scheduler.SchedulerConstants).TOPIC_SCHEDULER_READY}</value>
					<value>#{datumExportProcessorJob.jobTopic}</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<bean id="datumExportProcessorJob" class="net.solarnetwork.central.datum.export.jobs.DatumExportProcessorJob">
		<argument ref="eventAdmin"/>
		<argument ref="taskDao"/>
		<argument ref="datumExportService"/>
		<property name="jobCron" value="${DatumExportProcessor.jobCron}"/>
		<property name="maximumWaitMs" value="${DatumExportProcessor.maximumWaitMs}"/>
		<property name="maximumClaimCount" value="${DatumExportProcessor.maximumClaimCount}"/>
		<property name="jobId" value="DatumExportProcessor"/>
		<property name="jobGroup" value="DatumExport"/>
		<property name="jobTopic" value="net/solarnetwork/central/datum/export/DatumExportProcessor"/>
	</bean>

	<service ref="datumExportTaskCleanerJob" interface="org.osgi.service.event.EventHandler">
		<service-properties>
			<entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<array value-type="java.lang.String">
					<value>#{T(net.solarnetwork.central.scheduler.SchedulerConstants).TOPIC_SCHEDULER_READY}</value>
					<value>#{datumExportTaskCleanerJob.jobTopic}</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<bean id="datumExportTaskCleanerJob" class="net.solarnetwork.central.datum.export.jobs.DatumExportTaskCleanerJob">
		<argument ref="eventAdmin"/>
		<argument ref="taskDao"/>
		<property name="jobCron" value="${DatumExportTaskCleaner.jobCron}"/>
		<property name="minimumAgeMinutes" value="${DatumExportTaskCleaner.minimumAgeMinutes}"/>
		<property name="jobId" value="DatumExportTaskCleaner"/>
		<property name="jobGroup" value="DatumExport"/>
		<property name="jobTopic" value="net/solarnetwork/central/datum/export/DatumExportTaskCleaner"/>
	</bean>

</blueprint>
