<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- Service References -->

	<reference id="userNodeDao" interface="net.solarnetwork.central.user.dao.UserNodeDao"/>

	<reference id="userExportBiz"
		interface="net.solarnetwork.central.user.expire.biz.UserExpireBiz"
		filter="(!(secured=true))"/>
	
	<reference id="userDatumDeleteBiz"
		interface="net.solarnetwork.central.user.expire.biz.UserDatumDeleteBiz"
		filter="(!(secured=true))"/>
	
	<!-- Published Services -->

	<service ref="aopUserExpireBiz" interface="net.solarnetwork.central.user.expire.biz.UserExpireBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<service ref="aopUserDatumDeleteBiz" interface="net.solarnetwork.central.user.expire.biz.UserDatumDeleteBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<!-- Supporting Services -->

	<aop:aspectj-autoproxy/>

	<bean id="userExportSecurityAspect" class="net.solarnetwork.central.user.expire.aop.UserExpireSecurityAspect">
		<argument ref="userNodeDao"/>
	</bean>
	
	<bean id="aopUserExpireBiz" class="net.solarnetwork.central.user.expire.support.DelegatingUserExpireBiz">
		<argument ref="userExportBiz"/>
	</bean>
	
	<bean id="aopUserDatumDeleteBiz" class="net.solarnetwork.central.user.expire.support.DelegatingUserDatumDeleteBiz">
		<argument ref="userDatumDeleteBiz"/>
	</bean>

</blueprint>
