<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.query.biz.dao">
		<beans:prop key="filteredResultsLimit">1000</beans:prop>
		<beans:prop key="maxDaysForMinuteAggregation">7</beans:prop>
		<beans:prop key="maxDaysForHourAggregation">31</beans:prop>
		<beans:prop key="maxDaysForDayAggregation">730</beans:prop>
		<beans:prop key="maxDaysForDayOfWeekAggregation">3650</beans:prop>
		<beans:prop key="maxDaysForHourOfDayAggregation">3650</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>
	
	<!-- Service References -->
	
	<reference id="solarLocationDao" interface="net.solarnetwork.central.dao.SolarLocationDao"/>
	<reference id="solarNodeDao" interface="net.solarnetwork.central.dao.SolarNodeDao"/>
	
	<reference id="priceLocationDao" interface="net.solarnetwork.central.dao.PriceLocationDao"/>
	<reference id="weatherLocationDao" interface="net.solarnetwork.central.dao.WeatherLocationDao"/>

	<reference id="generalLocationDatumDao" interface="net.solarnetwork.central.datum.dao.GeneralLocationDatumDao"/>
	<reference id="generalNodeDatumDao" interface="net.solarnetwork.central.datum.dao.GeneralNodeDatumDao"/>

	<reference id="userNodeDao" interface="net.solarnetwork.central.user.dao.UserNodeDao"/>

	<reference id="transactionManager" interface="org.springframework.transaction.PlatformTransactionManager"/>

	<!-- Published Services -->
	
	<service ref="queryBiz" interface="net.solarnetwork.central.query.biz.QueryBiz"/>
	
	<!-- Supporting Services -->

	<!-- Use Java @Transactional annotations to declare transactions. -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<ctx:annotation-config/>
	
	<bean id="queryBiz" class="net.solarnetwork.central.query.biz.dao.DaoQueryBiz">
		<osgix:managed-properties 
				persistent-id="net.solarnetwork.central.query.biz.dao" 
				autowire-on-update="true"/>
		<property name="filteredResultsLimit" value="${filteredResultsLimit}"/>
		<property name="maxDaysForMinuteAggregation" value="${maxDaysForMinuteAggregation}"/>
		<property name="maxDaysForHourAggregation" value="${maxDaysForHourAggregation}"/>
		<property name="maxDaysForDayAggregation" value="${maxDaysForDayAggregation}"/>
		<property name="maxDaysForDayOfWeekAggregation" value="${maxDaysForDayOfWeekAggregation}"/>
		<property name="maxDaysForHourOfDayAggregation" value="${maxDaysForHourOfDayAggregation}"/>
	</bean>
	
</blueprint>
