<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- Service References -->

	<reference id="userDao" interface="net.solarnetwork.central.user.dao.UserDao"/>
	<reference id="userAlertDao" interface="net.solarnetwork.central.user.dao.UserAlertDao"/>
	<reference id="userNodeDao" interface="net.solarnetwork.central.user.dao.UserNodeDao"/>
	<reference id="userAuthTokenDao" interface="net.solarnetwork.central.user.dao.UserAuthTokenDao"/>

	<reference id="userBiz"
		interface="net.solarnetwork.central.user.biz.UserBiz"
		filter="(!(aop=true))"/>
	
	<reference id="userAlertBiz"
		interface="net.solarnetwork.central.user.biz.UserAlertBiz"
		filter="(!(aop=true))"/>
	
	<reference id="nodeOwnershipBiz"
		interface="net.solarnetwork.central.user.biz.NodeOwnershipBiz"
		filter="(!(aop=true))"/>
	
	<!-- Published Services -->

	<service ref="aopUserBiz" interface="net.solarnetwork.central.user.biz.UserBiz" ranking="10">
		<service-properties>
			<entry key="aop" value="true"/>
		</service-properties>
	</service>

	<service ref="aopNodeOwnershipBiz" interface="net.solarnetwork.central.user.biz.NodeOwnershipBiz" ranking="10">
		<service-properties>
			<entry key="aop" value="true"/>
		</service-properties>
	</service>

	<service ref="aopUserAlertBiz" interface="net.solarnetwork.central.user.biz.UserAlertBiz" ranking="10">
		<service-properties>
			<entry key="aop" value="true"/>
		</service-properties>
	</service>
	
	<!-- Supporting Services -->

	<aop:aspectj-autoproxy/>

	<bean id="userSecurityAspect" class="net.solarnetwork.central.user.aop.UserSecurityAspect">
		<argument ref="userNodeDao"/>
		<argument ref="userAuthTokenDao"/>
	</bean>
	
	<bean id="nodeOwnershipSecurityAspect" class="net.solarnetwork.central.user.aop.NodeOwnershipSecurityAspect">
		<argument ref="userNodeDao"/>
		<argument ref="userDao"/>
	</bean>
	
	<bean id="userAlertSecurityAspect" class="net.solarnetwork.central.user.aop.UserAlertSecurityAspect">
		<argument ref="userNodeDao"/>
		<argument ref="userAlertDao"/>
	</bean>
	
	<bean id="aopUserBiz" class="net.solarnetwork.central.user.support.DelegatingUserBiz">
		<argument ref="userBiz"/>
	</bean>

	<bean id="aopNodeOwnershipBiz" class="net.solarnetwork.central.user.support.DelegatingNodeOwnershipBiz">
		<argument ref="nodeOwnershipBiz"/>
	</bean>
	
	<bean id="aopUserAlertBiz" class="net.solarnetwork.central.user.support.DelegatingUserAlertBiz">
		<argument ref="userAlertBiz"/>
	</bean>

</blueprint>
