# Default application properties.
# 
# Create an application.yml on your working directory to override these values,
# or application-X.yml where X is the name of the active profile provided via
# the JVM argument -Dspring.profiles.active=X
app:
  audit:
    jdbc:
      flush-delay: 10000
      update-delay: 0
      connection-recovery-delay: 15000
      stat-log-update-count: 1000
      

server:
  port: 8080
  address: "0.0.0.0"
  
spring:
  datasource:
    url: jdbc:postgresql://localhost/solarnetwork_unittest
    username: solartest
    password: solartest
    initialize: false
    hikari:
      poolName: "Main_Pool"
      minimumIdle: 1
      maximumPoolSize: 15
      connectionTimeout: 20000
      maxLifetime: 7200000
      keepaliveTime: 120000
      readOnly: false
  jackson:
    default-property-inclusion: non_null

logging:
  pattern:
    console: "%d{HH:mm:ss} ${LOG_LEVEL_PATTERN:%5p} %-40.40logger{39}: %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
    file:  "%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:%5p} %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  level:
    net.solarnetwork: DEBUG

debugMode: true

---
spring:
  config.activate.on-profile: development
  datasource:
    url: jdbc:postgresql://localhost/solarnetwork
    username: solarauth
    password: solarauth

debugMode: true

logging:
  level:
    net.solarnetwork: DEBUG

---
spring:
  config.activate.on-profile: production

debugMode: false

logging:
  level:
    net.solarnetwork: INFO
    
