<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.user.event.dao.mybatis">
	</osgix:cm-properties>

	<!-- Service References -->
	
	<reference id="dataSource" interface="javax.sql.DataSource" filter="(db=central)"/>
	
	<!-- Published Services -->
	
	<service ref="datumAppEventAcceptor">
		<interfaces>
			<value>net.solarnetwork.central.datum.biz.DatumAppEventAcceptor</value>
			<value>net.solarnetwork.central.user.event.dao.UserNodeEventTaskDao</value>
		</interfaces>
		<service-properties>
			<entry key="topic" value="datum/agg/update"/>
		</service-properties>
	</service>

	<service ref="nodeEventHookConfDao" interface="net.solarnetwork.central.user.event.dao.UserNodeEventHookConfigurationDao"/>

	<!-- Supporting Services -->
	
	<bean id="datumAppEventAcceptor" class="net.solarnetwork.central.user.event.dao.mybatis.MyBatisDatumAppEventAcceptor">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean id="nodeEventHookConfDao" class="net.solarnetwork.central.user.event.dao.mybatis.MyBatisUserNodeEventHookConfigurationDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configurationProperties" ref="cfg"/>
		<property name="typeHandlers">
			<list>
				<bean class="net.solarnetwork.central.dao.mybatis.type.UUIDTypeHandler"/>
			</list>
		</property>
		<property name="mapperLocations">
			<!-- Note: the order of these elements is significant because of inter-resource includes -->
			<list>
				<value>classpath:/net/solarnetwork/central/user/event/dao/mybatis/map/UserNodeEventHookConfiguration.xml</value>
				<value>classpath:/net/solarnetwork/central/user/event/dao/mybatis/map/UserNodeEventTask.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<argument ref="sqlSessionFactory"/>
		<argument value="#{T(org.apache.ibatis.session.ExecutorType).SIMPLE}"/>
		<argument>
			<bean class="net.solarnetwork.central.dao.mybatis.support.MyBatisExceptionTranslator">
				<argument ref="dataSource"/>
				<argument value="true"/>
			</bean>
		</argument>
	</bean>
	
</blueprint>
