<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::content}, ~{}, 'my-nodes')">
<head>
    <title data-th-text="#{app.name}">SolarUser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/edit-node.css">
</head>
<body>
<div class="container" th:fragment="content">
	<a id="top"></a>
	<section id="pending-transfer-requests" th:if="${not #lists.isEmpty(pendingNodeOwnershipRequests)}">
		<h2><fmt:message key='my-nodes.pending-transfer-requests.header'/></h2>
		<p>
			<fmt:message key='my-nodes.pending-transfer-requests.intro'>
				<fmt:param>${fn:length(pendingNodeOwnershipRequests)}</fmt:param>
			</fmt:message>
		</p>
		<table class="table" id="pending-transfer-requests-table">
			<thead>
				<tr>
					<th><fmt:message key="user.node.id.label"/></th>
					<th><fmt:message key="my-nodes.transferOwnership.requester.label"/></th>
					<th><fmt:message key="my-nodes.transferOwnership.requestDate.label"/></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<c:forEach items="${pendingNodeOwnershipRequests}" var="transfer">
					<tr>
						<td>${transfer.node.id}</td>
						<td>${transfer.user.email}</td>
						<td>
							<joda:dateTimeZone value="GMT">
								<joda:format value="${transfer.created}" pattern="dd MMM yyyy"/> GMT
							</joda:dateTimeZone>
						</td>
						<td>
							<button type="button" class="btn btn-small btn-default decide-ownership-transfer"
								data-user-id="${transfer.user.id}" data-node-id="${transfer.node.id}" 
								data-requester="${transfer.user.email}">
								<fmt:message key='my-nodes.transferOwnership.action.requestDecision'/>
							</button>
						</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
	</section>

	<section id="pending" th:if="${not #lists.isEmpty(pendingUserNodeConfirmationsList)}">
		<h2><fmt:message key='my-nodes.pending-invite.header'/></h2>
		<p>
			<fmt:message key='my-nodes.pending-invite.intro'>
				<fmt:param>${fn:length(pendingUserNodeConfirmationsList)}</fmt:param>
			</fmt:message>
		</p>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="<fmt:message key='close.label'/>"><span aria-hidden="true">&times;</span></button>
			<fmt:message key='my-nodes.solarnode.link.help'/>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-sm-2"><fmt:message key="user.nodeconf.created.label"/></th>
					<th class="col-sm-10"></th>
				</tr>
			</thead>
			<tbody>
				<c:forEach items="${pendingUserNodeConfirmationsList}" var="userNodeConf">
					<tr>
						<td>
							<joda:dateTimeZone value="GMT">
								<joda:format value="${userNodeConf.created}"
									 pattern="dd MMM yyyy"/> GMT
							</joda:dateTimeZone>
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-default" href="<c:url value='/u/sec/my-nodes/invitation'/>?id=${userNodeConf.id}">
									<fmt:message key='my-nodes.view-invitation.link'/>
								</a>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only"><fmt:message key='toggle.dropdown.label'/></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="btn btn-danger" href="<c:url value='/u/sec/my-nodes/cancelInvitation'/>?id=${userNodeConf.id}">
											<i class="glyphicon glyphicon-trash"></i> <fmt:message key='my-nodes.cancel-invitation.link'/>
										</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
	</section>

	<section id="pending-transfers" th:if="${not #lists.isEmpty(pendingUserNodeTransferList)}">
		<h2>
			<fmt:message key='my-nodes.pending-transfer-ownership.header'/>
		</h2>
		<p class="intro">
			<fmt:message key='my-nodes.pending-transfer-ownership.intro'>
				<fmt:param value="${fn:length(pendingUserNodeTransferList)}"/>
			</fmt:message>
		</p>
		<table class="table" id="pending-transfer">
			<thead>
				<tr>
					<th><fmt:message key="user.node.id.label"/></th>
					<th><fmt:message key="user.node.created.label"/></th>
					<th><fmt:message key="my-nodes.transferOwnership.recipient.label"/></th>
					<th><fmt:message key="my-nodes.transferOwnership.requestDate.label"/></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<c:forEach items="${pendingUserNodeTransferList}" var="userNode">
					<tr class="node-row">
						<td>
							${userNode.node.id}
							<c:if test='${fn:length(userNode.name) gt 0}'> - ${userNode.name}</c:if>
							<c:if test='${fn:length(userNode.description) gt 0}'> (${userNode.description})</c:if>
						</td>
						<td>
							<joda:dateTimeZone value="GMT">
								<joda:format value="${userNode.node.created}" pattern="dd MMM yyyy"/> GMT
							</joda:dateTimeZone>
						</td>
						<td>${userNode.transfer.email}</td>
						<td>
							<joda:dateTimeZone value="GMT">
								<joda:format value="${userNode.transfer.created}" pattern="dd MMM yyyy"/> GMT
							</joda:dateTimeZone>
						</td>
						<td>
							<button type="button" data-action="<c:url value='/u/sec/my-nodes/cancelNodeTransferRequest'/>"
								data-user-id="${userNode.user.id}"
								data-node-id="${userNode.node.id}"
								title="<fmt:message key='my-nodes.transferOwnership.action.cancel'/>"
								class="btn btn-small btn-danger cancel-ownership-transfer"><i class="glyphicon glyphicon-remove"></i></button>
						</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
	</section>

<main id="nodes">
	<h2>
		<span data-th-text="#{my-nodes.nodelist.header}">My Nodes</span>
		<button type="button" id="invite-new-node-button" class="btn btn-primary pull-right" data-target="#invite-modal" data-toggle="modal">
			<i class="glyphicon glyphicon-plus"></i> <span data-th-text="#{my-nodes.inviteNode}">+</span>
		</button>
	</h2>
	<p class="intro" th:utext="#{my-nodes.intro(${userNodesList.size})}">
		Here are your nodes.
	</p>
	<table class="table" id="my-nodes-table" th:if="${not #lists.isEmpty(userNodesList)}">
		<thead>
			<tr>
				<th data-th-text="#{user.node.id.label}">ID</th>
				<th data-th-text="#{user.node.created.label}">Created</th>
				<th data-th-text="#{user.node.name.label}">Name</th>
				<th data-th-text="#{user.node.description.label}">Description</th>
				<th data-th-text="#{user.node.private.label}">Private</th>
				<th data-th-text="#{user.node.certificate.label}">Certificate</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="userNode : ${userNodesList}" class="node-row"
				data-th-data-node-id="${userNode.node.id}" 
				data-th-data-user-id="${userNode.user.id}"
				data-th-data-node-name="${userNode.name}">
				<td data-th-text="${userNode.node.id}">123</td>
				<td data-th-text="${#temporals.format(userNode.node.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td data-th-text="${userNode.name}">Home Node</td>
				<td data-th-text="${userNode.description}">Node at home.</td>
				<td>
					<span class="label" data-th-classappend="${!userNode.requiresAuthorization} ? 'label-success'"
						data-th-text="#{user.node.private.__${userNode.requiresAuthorization}__}">
					</span>
				</td>
				<td>
					<span class="label" data-th-if="${userNode.certificate}"
						data-th-classappend="${userNode.certificate.status.value == 'Active'
							? 'label-success' : userNode.certificate.status.value  == 'Disabled'
							? 'label-warning' : 'label-primary'}"
						data-th-text="#{user.node.certificate.status.__${userNode.certificate.status.value}__}">
						Active
					</span>
					<span class="label label-danger" data-th-unless="${userNode.certificate}"
						data-th-text="#{user.node.certificate.unmanaged}">
						Unmanaged
					</span>
				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-small btn-default edit-node" 
							data-target="#edit-node-modal"
							data-th-data-user-id="${userNode.user.id}" 
							data-th-data-node-id="${userNode.node.id}"
							data-th-text="#{my-nodes.action.edit}"
							>Edit</button>
						<button type="button" class="btn btn-small btn-default dropdown-toggle" 
							data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only" data-th-text="#{toggle.dropdown.label}">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-th-if="${userNode.certificate?.status?.value == 'Active'}">
								<a href="#" class="view-cert" data-th-text="#{user.node.certificate.action.view}">View</a>
							</li>
							<li data-th-if="${userNode.certificate?.status?.value == 'Active'}">
								<a href="#" class="view-cert" data-th-text="#{user.node.certificate.action.renew}">Renew</a>
							</li>
							<li>
								<a href="#" class="transfer-ownership" data-th-text="#{user.node.action.transferOwnership}">Transfer</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#" class="archive" data-th-text="#{user.node.action.archive}">Archive</a>
							</li>
						</ul>
					</div>
					<button class="btn btn-small btn-danger view-situation hidden" type="button">
						<span aria-hidden="true" class="glyphicon glyphicon-alert"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</main>

<!--/* Modal forms */-->

<form id="invite-modal" class="modal fade" th:action="@{/u/sec/my-nodes/new}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.inviteNode}">Invite Node</h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-text="#{my-nodes-invitation.create.intro}">Generate an invitation for a new SolarNode.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{my-nodes.invitation.securityPhrase.label}">
		 				Security Phrase
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="password" class="form-control" name="phrase" 
		 					data-th-placeholder="#{my-nodes.invitation.securityPhrase.label}"
		 					maxlength="128" required="required"/>
			 			<span class="help-block"><small data-th-text="#{my-nodes.invitation.securityPhrase.caption}">This will be shown on the SolarNode you are inviting.</small></span>
			 		</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{my-nodes.invitation.tz.label}">
		 				Time Zone
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="timeZone" id="invite-tz"
		 					data-th-placeholder="#{my-nodes.invitation.tz.placeholder}"
		 					maxlength="128" required="required"/>
		 			</div>
		 			<div class="col-sm-1">
		 				<span class="help-block" id="invite-tz-country"></span>
		 			</div>
		 		</div>
	 			<div id="tz-picker-container" class="tz-picker-container"></div>
		 	</div>
		 	<div class="modal-body cert-create">
		 		<p class="alert alert-warning">
		 			<b data-th-text="#{my-nodes.create.warning}">Warning:</b>
		 			<span data-th-utext="#{my-nodes.create.intro}">this is an advanced feature.</span>
		 		</p>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" id="node-cert-create" class="btn btn-default pull-left" 
		 			data-th-data-confirm-title="#{my-nodes.create.reaffirm}"
		 			data-th-text="#{my-nodes.create.link}"
		 			>Create Invitation</button>
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<input type="hidden" name="country" id="invite-country"/>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{my-nodes.inviteNode}">Invite</button>
		 	</div>
		 </div>
 	</div>
</form>
<form id="view-cert-modal" class="modal fade" th:action="@{/u/sec/my-nodes/cert'/>/0}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.cert.view.title}">View Certificate</h4>
		 	</div>
		 	<div class="modal-body">
		 		<p class="nocert" data-th-text="#{my-nodes.cert.view.intro}">View your certificate here.</p>
		 		<p class="cert hidden" data-th-text="#{my-nodes.cert.view.cert-intro}">Here is your certificate:</p>
		 		<div class="alert alert-info renewed hidden" data-th-text="#{my-nodes.cert.renewed.queued}">Your renewal request has been received.</div>
		 		<fieldset class="form-inline nocert">
		 			<label for="view-cert-password" data-th-text="#{my-nodes.cert.view.password.label}">Certificate Password</label>
					<input class="span3 form-control" type="password" name="password" id="view-cert-password" />
		 		</fieldset>
		 		<fieldset class="cert hidden">
			 		<table class="table">
			 			<tbody>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.serialNumber.label}">Serial Number</th>
			 					<td id="view-cert-serial-number"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.subject.label}">Subject</th>
			 					<td id="view-cert-subject"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.issuer.label}">Issuer</th>
			 					<td id="view-cert-issuer"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.validFrom.label}">Valid From</th>
			 					<td id="view-cert-valid-from"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.validUntil.label}">Valid Until</th>
			 					<td id="view-cert-valid-until"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.renewAfter.label}">Renew After</th>
			 					<td id="view-cert-renew-after"></td>
			 				</tr>
			 			</tbody>
			 		</table>
			 		<pre class="cert" id="modal-cert-container"></pre>
		 		</fieldset>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<a data-th-href="@{/u/sec/my-nodes/cert/0}" id="modal-cert-download" class="btn btn-default"
		 			data-th-text="#{my-nodes.cert.action.download}">
		 			Download
		 		</a>
		 		<a data-th-href="@{/u/sec/my-nodes/cert/renew/0}" id="modal-cert-renew" class="btn btn-primary renew hidden"
		 			data-th-text="#{my-nodes.cert.action.renew}">
		 			Renew
		 		</a>
		 		<button type="submit" class="btn btn-primary nocert" data-th-text="#{my-nodes.cert.action.view}">
		 			View
		 		</button>
		 	</div>
		 </div>
	</div>
</form>
<form id="edit-node-modal" class="modal fade page1" th:action="@{/u/sec/my-nodes/updateNode}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title"><fmt:message key='my-nodes.edit-node.title'/></h4>
		 	</div>
		 	<div class="modal-body">
				<div class="hbox">
					<fieldset class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-id"><fmt:message key="user.node.id.label"/></label>
							<div class="col-sm-10">
								<span class="uneditable-input span2 form-control" id="usernode-id"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-name"><fmt:message key="user.node.name.label"/></label>
							<div class="col-sm-10">
								<input name="name" type="text" maxlength="128" class="form-control" id="usernode-name"/>
								<span class="help-block"><fmt:message key="user.node.name.caption"/></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-description"><fmt:message key="user.node.description.label"/></label>
							<div class="col-sm-10">
								<input name="description" type="text" maxlength="512" class="form-control" id="usernode-description"/>
								<span class="help-block"><fmt:message key="user.node.description.caption"/></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-private"><fmt:message key="user.node.private.label"/></label>
							<div class="col-sm-10">
								<div class="checkbox">
									<label>
										<input name="requiresAuthorization" type="checkbox" value="true" id="usernode-private"/>
										<fmt:message key="user.node.private.caption"/>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-location"><fmt:message key="user.node.location.label"/></label>
							<div class="col-sm-10">
								<span id="usernode-location"></span>
								<button type="button" class="btn btn-default change-location"><fmt:message key='change.label'/></button>
							</div>
						</div>
					</fieldset>
					<fieldset class="form-horizontal edit-location-tz">
						<p><fmt:message key='my-nodes.edit-node.choose-tz.intro'/></p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-tz"><fmt:message key='location.tz.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.timeZoneId" id="edit-node-location-tz"
		 							placeholder="<fmt:message key='my-nodes.invitation.tz.placeholder'/>"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-country"><fmt:message key='location.country.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.country" id="edit-node-location-country" maxlength="2" />
							</div>
				 		</div>
						<div class="tz-picker-container"></div>
					</fieldset>
					<fieldset class="form-horizontal" id="edit-node-location-details" 
						data-lookup-url="<c:url context="/solarquery" value='/api/v1/pub/location'/>">
						<p><fmt:message key='my-nodes.edit-node.choose-location.intro'/></p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-postal-code"><fmt:message key='location.postalCode.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.postalCode" id="edit-node-location-postal-code"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-locality"><fmt:message key='location.locality.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.locality" id="edit-node-location-locality"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-state"><fmt:message key='location.state.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.stateOrProvince" id="edit-node-location-state"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-region"><fmt:message key='location.region.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.region" id="edit-node-location-region"
		 							maxlength="128" />
							</div>
				 		</div>
				 		<p class="hidden" id="edit-node-location-search-no-match">
				 			<fmt:message key='my-nodes.edit-node.choose-location.nomatch'/>
				 		</p>
						<table class="table table-striped table-hover hidden" id="edit-node-location-search-results">
							<thead>
								<tr>
									<th><fmt:message key='location.country.label'/></th>
									<th><fmt:message key='location.state.label'/></th>
									<th><fmt:message key='location.region.label'/></th>
									<th><fmt:message key='location.locality.label'/></th>
									<th><fmt:message key='location.postalCode.label'/></th>
								</tr>
								<tr class="template">
									<td data-tprop="country"></td>
									<td data-tprop="stateOrProvince"></td>
									<td data-tprop="region"></td>
									<td data-tprop="locality"></td>
									<td data-tprop="postalCode"></td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</fieldset>
					<fieldset class="form-horizontal" id="edit-node-location-private-details">
						<p><fmt:message key='my-nodes.edit-node.private-location.intro'/></p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-street"><fmt:message key='location.address.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.street" id="edit-node-location-street"
		 							maxlength="256" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-latitude"><fmt:message key='location.lat.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.latitude" id="edit-node-location-latitude"
		 							maxlength="16"  aria-describedby="edit-node-locaiton-latitude-help"/>
		 						<span class="help-block" id="edit-node-locaiton-latitude-help"><fmt:message key='my-nodes.edit-node.choose-location-private.latlon.caption'/></span>
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-longitude"><fmt:message key='location.lon.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.longitude" id="edit-node-location-longitude"
		 							maxlength="16" aria-describedby="edit-node-locaiton-longitude-help"/>
		 						<span class="help-block" id="edit-node-locaiton-longitude-help"><fmt:message key='my-nodes.edit-node.choose-location-private.latlon.caption'/></span>
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-elevation"><fmt:message key='location.elevation.label'/></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.elevation" id="edit-node-location-elevation"
		 							maxlength="12"  aria-describedby="edit-node-locaiton-elevation-help"/>
		 						<span class="help-block" id="edit-node-locaiton-elevation-help"><fmt:message key='my-nodes.edit-node.choose-location-private.elevation.caption'/></span>
							</div>
				 		</div>
					</fieldset>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" class="btn btn-default" data-dismiss="modal"><fmt:message key='close.label'/></button>
		 		<button type="button" class="btn page2 page3 page4 btn-info" id="edit-node-page-back"><fmt:message key='back.label'/></button>
		 		<button type="submit" class="btn page1 btn-primary"><fmt:message key='save.label'/></button>
		 		<button type="button" class="btn page2 btn-primary" id="edit-node-select-tz"><fmt:message key='my-nodes.edit-node.choose-tz.action.select'/></button>
		 		<button type="button" class="btn page3 btn-primary" id="edit-node-select-location" disabled="disabled"><fmt:message key='my-nodes.edit-node.choose-location.action.select'/></button>
		 		<button type="button" class="btn page4 btn-primary" id="edit-node-select-location-private"><fmt:message key='my-nodes.edit-node.choose-location-private.action.select'/></button>
		 	</div>
		</div>
	</div>
	<input type="hidden" name="node.id"/>
	<input type="hidden" name="user.id"/>
	<input type="hidden" name="node.locationId"/>
</form>
<form id="transfer-ownership-modal" class="modal fade" th:action="@{/u/sec/my-nodes/requestNodeTransfer}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title"><fmt:message key='my-nodes.transferOwnership.title'/></h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p><fmt:message key='my-nodes.transferOwnership.intro'/></p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-node"><fmt:message key="user.node.id.label"/></label>
					<div class="col-sm-10">
						<p id="transfer-ownership-node" class="form-control-static"></p>
					</div>
				</div>
		 		<div class="form-group">
		 			<label class="col-sm-2 control-label" for="transfer-ownership-recipient"><fmt:message key='my-nodes.transferOwnership.recipient.label'/></label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="recipient" maxlength="240" id="transfer-ownership-recipient"
							required="required"
							placeholder="<fmt:message key='my-nodes.transferOwnership.recipient.placeholder'/>"
							aria-describedby="transfer-ownership-recipient-help"
							 />
						<span class="help-block" id="transfer-ownership-recipient-help"><fmt:message key='my-nodes.transferOwnership.recipient.caption'/></span>
					</div>
		 		</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal"><fmt:message key='close.label'/></a>
		 		<button type="submit" class="btn btn-primary">
		 			<fmt:message key='my-nodes.transferOwnership.action.submit'/>
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="nodeId"/>
	<input type="hidden" name="userId"/>
</form>
<form id="decide-transfer-ownership-modal" class="modal fade" th:action="@{/u/sec/my-nodes/confirmNodeTransferRequest}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title"><fmt:message key='my-nodes.transferOwnership.requestDecision.title'/></h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p><fmt:message key='my-nodes.transferOwnership.requestDecision.intro'/></p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-request-node"><fmt:message key="user.node.id.label"/></label>
					<div class="col-sm-10">
						<p id="transfer-ownership-request-node" class="form-control-static"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-request-requester"><fmt:message key="my-nodes.transferOwnership.requester.label"/></label>
					<div class="col-sm-10">
						<p id="transfer-ownership-request-requester" class="form-control-static"></p>
					</div>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal"><fmt:message key='close.label'/></a>
		 		<button type="button" class="btn btn-danger submit">
		 			<fmt:message key='my-nodes.transferOwnership.action.decline'/>
		 		</button>
		 		<button type="button" class="btn btn-success submit" data-accept="true">
		 			<fmt:message key='my-nodes.transferOwnership.action.accept'/>
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="nodeId"/>
	<input type="hidden" name="userId"/>
	<input type="hidden" name="accept" value="false"/>
</form>
<form id="archive-node-modal" class="modal fade" th:action="@{/u/sec/my-nodes/archived}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title"><fmt:message key='my-nodes.archive.title'/></h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p><fmt:message key='my-nodes.archive.intro'/></p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="archive-node"><fmt:message key="user.node.id.label"/></label>
					<div class="col-sm-10">
						<p class="form-control-static node-name-label"></p>
					</div>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal"><fmt:message key='close.label'/></a>
		 		<button type="submit" class="btn btn-danger submit">
		 			<fmt:message key='my-nodes.archive.action.archive'/>
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="archived" value="true"/>
	<input type="hidden" name="nodeIds"/>
</form>

<%@include file="/WEB-INF/jsp/sec/alerts/situation-modal.jsp" %>
<%@include file="/WEB-INF/jsp/sec/alerts/alert-enums.jsp" %>
</div>
</body>
</html>
