<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="ocpp-settings-edit-modal" class="edit-config ocpp" data-th-classappend="'modal fade'"
		data-th-action="@{/u/sec/ocpp/settings}" method="post" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{ocpp.settings.edit.title}">Edit default charger settings</h4>
			</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{ocpp.settings.edit.intro}">Edit the setting details on this form.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{ocpp.settings.sourceIdTemplate.label}">
		 				Source ID Template
		 			</label>
		 			<div class="col-sm-8">
		 				<input class="form-control" name="sourceIdTemplate" type="text" maxlength="255"
		 					placeholder="/ocpp/{chargerIdentifier}/{connectorId}/{location}"
							th-placeholder="#{ocpp.settings.sourceIdTemplate.placeholder}">
						<div class="help-block" data-th-utext="#{ocpp.settings.sourceIdTemplate.caption}">
							The source ID used when publishing datum to SolarIn and/or SolarFlux.
						</div>
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{ocpp.settings.publishToSolarIn.label}">
		 				Publish SolarIn
		 			</label>
		 			<div class="col-sm-8">
						<button type="button" name="publishToSolarIn" class="form-control setting-form-element toggle btn btn-default"
							data-toggle="setting-toggle" aria-pressed="false"
							data-th-data-on-text="#{settings.enabled.label}"
							data-th-data-off-text="#{settings.disabled.label}"
							data-th-text="#{settings.toggle.disabled}">
							Disabled
						</button>
						<div class="help-block" data-th-utext="#{ocpp.settings.publishToSolarIn.caption}">
							Publish charge session datum streams to SolarIn.
						</div>
		 			</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{ocpp.settings.publishToSolarFlux.label}">
		 				Publish SolarFlux
		 			</label>
		 			<div class="col-sm-8">
						<button type="button" name="publishToSolarFlux" class="form-control setting-form-element toggle btn btn-default"
							data-toggle="setting-toggle" aria-pressed="false"
							data-th-data-on-text="#{settings.enabled.label}"
							data-th-data-off-text="#{settings.disabled.label}"
							data-th-text="#{settings.toggle.disabled}">
							Disabled
						</button>
						<div class="help-block" data-th-utext="#{ocpp.settings.publishToSolarFlux.caption}">
							Publish charge session datum streams to SolarFlux.
						</div>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{cancel.label}">Cancel</button>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
		 	</div>
		 </div>
 	</div>
	<input type="hidden" name="id">
	<input type="hidden" name="userId" data-th-data-user-id="${actorUserId}">
</form>
</body>
</html>
