<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div data-th-fragment="content">
<section id="ocpp-credentials">
	<h2>
		<span data-th-text="#{ocpp.credentials.header}">Credentials</span>
		<button type="button" id="ocpp-add-credential-button" class="btn btn-primary pull-right"
			data-target="#ocpp-credential-edit-modal" data-toggle="modal"
			data-th-title="#{ocpp.credentials.add}">
			<i class="glyphicon glyphicon-plus"></i>
		</button>
	</h2>
	<p class="intro" data-th-utext="#{ocpp.credentials.intro}">
		Your credentials are shown here. Use the + button to add new credentials.
	</p>
	<table id="ocpp-credentials-container" class="table configs" data-th-classappend="'hidden'">
		<thead>
			<tr>
				<th data-th-text="#{ocpp.credentials.id.label}">ID</th>
				<th data-th-text="#{ocpp.credentials.created.label}">Created</th>
				<th data-th-text="#{ocpp.credentials.username.label}">Username</th>
				<th data-th-text="#{ocpp.credentials.allowedChargePoints.label}">Allowed Charge Points</th>
				<th></th>
			</tr>
			<tr class="template">
				<td><a href="#" class="edit-link" data-tprop="id" data-edit-modal="#ocpp-credential-edit-modal"></a></td>
				<td data-tprop="createdDisplay"></td>
				<td data-tprop="username"></td>
				<td data-tprop="allowedChargePoints"></td>
				<td>
					TODO
				</td>
			</tr>
		</thead>
		<tbody class="list-container">
		</tbody>
	</table>
</section>
</div>
</body>
</html>
