<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div data-th-fragment="content">
<section id="ocpp-chargers">
	<h2>
		<span data-th-text="#{ocpp.chargers.header}">Chargers</span>
		<button type="button" id="ocpp-add-charger-button" class="btn btn-primary pull-right"
			data-target="#ocpp-charger-edit-modal" data-toggle="modal"
			data-th-title="#{ocpp.chargers.add}">
			<i class="glyphicon glyphicon-plus"></i>
		</button>
	</h2>
	<p class="intro" data-th-utext="#{ocpp.chargers.intro(0)}">
		Your chargers are shown here. Use the + button to add new chargers.
	</p>
	<nav data-th-aria-label="#{ocpp.chargers.pagination.label}" id="ocpp-chargers-list-pagination" class="hidden">
		<ul class="pagination">
			<li><a href="#" data-th-aria-label="#{ocpp.chargers.pagination.prev.label}"><span aria-hidden="true">&laquo;</span></a></li>
			<li class="template"><a href="#"><span data-tprop="pageNumber">1</span> <span class="sr-only hidden" data-th-text="#{ocpp.chargers.pagination.current.label}">1</span></a></li>
			<li><a href="#" data-th-aria-label="#{ocpp.chargers.pagination.next.label}"><span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</nav>
	<table id="ocpp-chargers-container" class="table configs" data-th-classappend="'hidden'">
		<thead>
			<tr>
				<th data-th-text="#{ocpp.chargers.id.label}">ID</th>
				<th data-th-text="#{ocpp.chargers.created.label}">Created</th>
				<th data-th-text="#{ocpp.chargers.nodeId.label}">Node</th>
				<th data-th-text="#{ocpp.chargers.identifier.label}">Identifier</th>
				<th data-th-text="#{ocpp.chargers.status.label}">Status</th>
				<th data-th-text="#{ocpp.chargers.details.label}">Details</th>
				<th data-th-text="#{ocpp.chargers.settings.label}">Settings</th>
			</tr>
			<tr data-th-classappend="'template'">
				<td><a href="#" class="edit-link" data-tprop="id" data-edit-modal="#ocpp-charger-edit-modal"></a></td>
				<td data-tprop="createdDisplay"></td>
				<td data-tprop="nodeId"></td>
				<td data-tprop="identifier"></td>
				<td>
					<span class="label" data-tprop="enabled"
						data-th-data-true-text="#{settings.enabled.label}"
						data-th-data-false-text="#{settings.disabled.label}"></span>
					<br>
					<span class="label label-default" data-tprop="registrationStatus"
						data-th-data-unknown-text="#{ocpp.chargers.registrationStatus.Unknown}"
						data-th-data-pending-text="#{ocpp.chargers.registrationStatus.Pending}"
						data-th-data-accepted-text="#{ocpp.chargers.registrationStatus.Accepted}"
						data-th-data-rejected-text="#{ocpp.chargers.registrationStatus.Rejected}"
						data-th-data-pending-label="warning"
						data-th-data-accepted-label="success"
						data-th-data-rejected-label="danger"
						></span>
				</td>
				<td class="small">
					<dl class="details-container dl-horizontal">
						<dt data-th-text="#{ocpp.chargers.model.label}">Model</dt>
						<dd data-tprop="chargePointModel"></dd>
						<dt data-th-text="#{ocpp.chargers.serialNumber.label}">Serial Number</dt>
						<dd data-tprop="chargePointSerialNumber"></dd>
						<dt data-th-text="#{ocpp.chargers.vendor.label}">Vendor</dt>
						<dd data-tprop="chargePointVendor"></dd>
						<dt data-th-text="#{ocpp.chargers.connectorCount.label}">Vendor</dt>
						<dd data-tprop="connectorCount"></dd>
						<dt data-th-text="#{ocpp.chargers.firmwareVersion.label}">Firmware Version</dt>
						<dd data-tprop="firmwareVersion"></dd>
						<dt data-th-text="#{ocpp.chargers.chargeBoxSerialNumber.label}">Charge Box Serial Number</dt>
						<dd data-tprop="chargeBoxSerialNumber"></dd>
						<dt data-th-text="#{ocpp.chargers.iccid.label}">ICCID</dt>
						<dd data-tprop="iccid"></dd>
						<dt data-th-text="#{ocpp.chargers.imsi.label}">IMSI</dt>
						<dd data-tprop="imsi"></dd>
						<dt data-th-text="#{ocpp.chargers.meterType.label}">Meter Type</dt>
						<dd data-tprop="meterType"></dd>
						<dt data-th-text="#{ocpp.chargers.meterSerialNumber.label}">Meter Serial Number</dt>
						<dd data-tprop="meterSerialNumber"></dd>
					</dl>
				</td>
				<td class="small">
					<dl class="dl-horizontal settings-container hidden">
						<dt data-th-text="#{ocpp.settings.sourceIdTemplate.label}">Source ID template</dt>
						<dd data-tprop="sourceIdTemplate"></dd>
						<dt data-th-text="#{ocpp.settings.publishToSolarIn.label}">Publish SolarIn</dt>
						<dd><span class="label label-default" data-tprop="publishToSolarIn"
								data-th-data-true-text="#{settings.enabled.label}"
								data-th-data-false-text="#{settings.disabled.label}"></span></dd>
						<dt data-th-text="#{ocpp.settings.publishToSolarFlux.label}">Publish SolarFlux</dt>
						<dd><span class="label label-default" data-tprop="publishToSolarFlux"
								data-th-data-true-text="#{settings.enabled.label}"
								data-th-data-false-text="#{settings.disabled.label}"></span></dd>
					</dl>
					<dl class="dl-horizontal">
						<dt></dt>
						<dd>
							<button type="button" class="btn btn-xs btn-default edit-link" data-th-text="#{ocpp.settings.edit.label}"
								data-edit-modal="#ocpp-settings-edit-modal">
								Edit Settings
							</button>
							<button type="button" class="btn btn-xs btn-default connectors-link"
								data-th-text="#{ocpp.connectors.view.label}"
								data-th-data-view-text="#{ocpp.connectors.view.label}"
								data-th-data-hide-text="#{ocpp.connectors.hide.label}">
								View Connectors
							</button>
						</dd>
					</dl>
				</td>
			</tr>
			<tr class="borderless-row connectors-row" data-th-classappend="'hidden template'">
				<td></td>
				<td colspan="6">
					<div class="content-loading">
						<p data-th-text="#{loading.intro}">One moment please...</p>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="sr-only" data-th-text="#{loading.label}">Loading...</span>
							</div>
						</div>
					</div>
					<p class="content-empty" data-th-classappend="'hidden'">
						No connectors are available.
					</p>					
					<table class="table configs content-loaded ocpp-connectors-container hidden">
						<thead>
							<tr>
								<th data-th-text="#{ocpp.connectors.id.label}">ID</th>
								<th data-th-text="#{ocpp.connectors.created.label}">Created</th>
								<th data-th-text="#{ocpp.connectors.status.label}">Status</th>
								<th data-th-text="#{ocpp.connectors.errorCode.label}">Error Code</th>
								<th data-th-text="#{ocpp.connectors.info.label}">Info</th>
								<th data-th-text="#{ocpp.connectors.timestamp.label}">Timestamp</th>
								<th data-th-text="#{ocpp.connectors.vendorInfo.label}">Vendor Info</th>
							</tr>
							<tr data-th-classappend="'template'">
								<td><a href="#" class="edit-link" data-tprop="id" data-edit-modal="#ocpp-connector-edit-modal"></a></td>
								<td data-tprop="createdDisplay"></td>
								<td data-tprop="status"
									data-th-data-unknown-text="#{ocpp.connectors.status.Unknown}"
									data-th-data-available-text="#{ocpp.connectors.status.Available}"
									data-th-data-faulted-text="#{ocpp.connectors.status.Faulted}"
									data-th-data-unavailable-text="#{ocpp.connectors.status.Unavailable}"
									data-th-data-reserved-text="#{ocpp.connectors.status.Reserved}"
									data-th-data-preparing-text="#{ocpp.connectors.status.Preparing}"
									data-th-data-charging-text="#{ocpp.connectors.status.Charging}"
									data-th-data-suspendedev-text="#{ocpp.connectors.status.SuspendedEV}"
									data-th-data-suspendedevse-text="#{ocpp.connectors.status.SuspendedEVSE}"
									data-th-data-finishing-text="#{ocpp.connectors.status.Finishing}"
									></td>
								<td data-tprop="errorCode"
									data-th-data-unknown-text="#{ocpp.connectors.errorCode.Unknown}"
									data-th-data-connectorlockfailure-text="#{ocpp.connectors.errorCode.ConnectorLockFailure}"
									data-th-data-hightemperature-text="#{ocpp.connectors.errorCode.HighTemperature}"
									data-th-data-noerror-text="#{ocpp.connectors.errorCode.NoError}"
									data-th-data-powermeterfailure-text="#{ocpp.connectors.errorCode.PowerMeterFailure}"
									data-th-data-powerswitchfailure-text="#{ocpp.connectors.errorCode.PowerSwitchFailure}"
									data-th-data-readerfailure-text="#{ocpp.connectors.errorCode.ReaderFailure}"
									data-th-data-resetfailure-text="#{ocpp.connectors.errorCode.ResetFailure}"
									data-th-data-groundfailure-text="#{ocpp.connectors.errorCode.GroundFailure}"
									data-th-data-overcurrentfailure-text="#{ocpp.connectors.errorCode.OverCurrentFailure}"
									data-th-data-undervoltage-text="#{ocpp.connectors.errorCode.UnderVoltage}"
									data-th-data-weaksignal-text="#{ocpp.connectors.errorCode.WeakSignal}"
									data-th-data-othererror-text="#{ocpp.connectors.errorCode.OtherError}"
									data-th-data-evcommunicationerror-text="#{ocpp.connectors.errorCode.EVCommunicationError}"
									data-th-data-internalerror-text="#{ocpp.connectors.errorCode.InternalError}"
									data-th-data-locallistconflict-text="#{ocpp.connectors.errorCode.LocalListConflict}"
									data-th-data-overvoltage-text="#{ocpp.connectors.errorCode.OverVoltage}"
									></td>
								<td data-tprop="info"></td>
								<td data-tprop="timestampDisplay"></td>
								<td class="small">
									<dl class="details-container dl-horizontal">
										<dt data-th-text="#{ocpp.connectors.vendorId.label}">Vendor ID</dt>
										<dd data-tprop="vendorId"></dd>
										<dt data-th-text="#{ocpp.connectors.vendorErrorCode.label}">Vendor Error Code</dt>
										<dd data-tprop="vendorErrorCode"></dd>
									</dl>
								</td>
							</tr>
						</thead>
						<tbody class="list-container">
						</tbody>
					</table>
				</td>
			</tr>
		</thead>
		<tbody class="list-container">
		</tbody>
	</table>
</section>
</div>
</body>
</html>
