<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div id="ocpp-credential-password-modal" class="ocpp" data-th-classappend="'modal fade'" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" data-th-text="#{ocpp.credentials.password.created.title}">OCPP credential password</h4>
			</div>
		 	<div class="modal-body">
		 		<p data-th-utext="#{ocpp.credentials.password.created.intro}">
		 			The credential password has been generated. It will not be shown again,
		 			please make sure you have copied this to a safe place.
		 		</p>
		 		<table class="table">
		 			<tr>
		 				<th class="col-xs-3" data-th-text="#{ocpp.credentials.username.label}">Username</th>
		 				<td class="col-xs-9" data-tprop="username"></td>
		 			</tr>
		 			<tr>
		 				<th class="col-xs-3" data-th-text="#{ocpp.credentials.password.label}">Password</th>
		 				<td class="col-xs-9"><pre data-tprop="password">abc123</pre></td>
		 			</tr>
		 		</table>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" class="btn btn-danger" data-dismiss="modal" data-th-text="#{close.label}">Close</button>
		 	</div>
		 </div>
 	</div>
</div>
</body>
</html>
