html {
	background-color: #fff;
	color: #000;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 8pt 8pt 8pt 8pt;
    border: 0px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}

form.general-form label {
	float: left;
	min-width: 60pt;
	font-weight: bold;
}

form.general-form > div {
	clear: both;
	margin-bottom: 2pt;
}
