<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">
	
	<!-- Published Services -->
	
	<service ref="passwordEncoder" ranking="1">
		<interfaces>
			<value>net.solarnetwork.central.security.PasswordEncoder</value>
			<value>org.springframework.security.crypto.password.PasswordEncoder</value>
		</interfaces>
	</service>
	
	<!-- Supporting Services -->
	
	<bean id="passwordEncoder" class="net.solarnetwork.central.security.DelegatingPasswordEncoder">
		<property name="encoders">
			<map>
				<entry key="$2a$">
					<bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
						<argument value="12"/>
						<argument>
							<bean class="java.security.SecureRandom"/>
						</argument>
					</bean>
				</entry>
				<entry key="{SHA}">
					<bean class="net.solarnetwork.central.security.LegacyPasswordEncoder"/>
				</entry>
			</map>
		</property>
	</bean>
	
</blueprint>
