<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- Service References -->

	<reference id="userNodeDao" interface="net.solarnetwork.central.user.dao.UserNodeDao"/>

	<reference id="userEventHookBiz"
		interface="net.solarnetwork.central.user.event.biz.UserEventHookBiz"
		filter="(!(secured=true))"/>
	
	<!-- Published Services -->

	<service ref="aopUserEventHookBiz" interface="net.solarnetwork.central.user.event.biz.UserEventHookBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<!-- Supporting Services -->

	<aop:aspectj-autoproxy/>

	<bean id="userEventSecurityAspect" class="net.solarnetwork.central.user.event.aop.UserEventSecurityAspect">
		<argument ref="userNodeDao"/>
	</bean>
	
	<bean id="aopUserEventHookBiz" class="net.solarnetwork.central.user.event.support.DelegatingUserEventHookBiz">
		<argument ref="userEventHookBiz"/>
	</bean>

</blueprint>
