<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.user.event.dest.sqs">
		<beans:prop key="cache.conf.uri">classpath:/net/solarnetwork/central/user/event/dest/sqs/ehcache.xml</beans:prop>
		<beans:prop key="destinationCache.ttl">600</beans:prop>
		<beans:prop key="destinationCache.heapMaxEntries">100</beans:prop>
		<beans:prop key="nodeEventHook.statFrequency">200</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>

	<!-- Published Services -->
	
	<service ref="sqsService" 
		interface="net.solarnetwork.central.user.event.biz.UserNodeEventHookService"/>
	
	<!-- Supporting Services -->
	
	<bean id="cacheManager" class="net.solarnetwork.central.support.JCacheManagerFactoryBean">
		<property name="cacheManagerUri" value="${cache.conf.uri}"/>
	</bean>

	<bean id="destinationCache" class="net.solarnetwork.central.support.JCacheFactoryBean">
		<argument ref="cacheManager"/>
		<argument value="java.lang.String"/>
		<argument value="net.solarnetwork.central.user.event.dest.sqs.SqsDestination"/>
		<property name="name" value="sqs-destinations"/>
		<property name="expiryPolicy" value="Accessed"/>
		<property name="expiryDuration">
			<bean class="javax.cache.expiry.Duration">
				<argument value="#{T(java.util.concurrent.TimeUnit).SECONDS}"/>
				<argument value="${destinationCache.ttl}"/>
			</bean>
		</property>
		<property name="heapMaxEntries" value="${destinationCache.heapMaxEntries}"/>
	</bean>

	<bean id="sqsService" class="net.solarnetwork.central.user.event.dest.sqs.SqsUserNodeEventHookService">
		<argument>
			<bean class="net.solarnetwork.central.user.event.dest.sqs.SqsStats">
				<argument value="SqsNodeEventHook"/>
				<argument value="${nodeEventHook.statFrequency}"/>
			</bean>
		</argument>
		<property name="messageSource">
			<bean class="org.springframework.context.support.ResourceBundleMessageSource">
				<property name="basename" value="net.solarnetwork.central.user.event.dest.sqs.SqsDestinationProperties"/>
			</bean>
		</property>
		<property name="destinationCache" ref="destinationCache"/>
	</bean>
	
</blueprint>
