<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">SolarUser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/edit-node.css">
</head>
<body class="container">
<form class="form-horizontal registration-form">
<fieldset class="review" th:fragment="form-content" th:object="${user}">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="user-name" th:text="#{user.name.label}">Name</label>
		<div class="col-sm-10">
			<p id="user-name" class="form-control-static" th:text="${user.name}">Person Name</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="user-email" th:text="#{user.email.label}">Email</label>
		<div class="col-sm-10">
			<p id="user-email" class="form-control-static" th:text="${user.email}">user@localhost</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="user-password" th:text="#{user.password.label}">Password</label>
		<div class="col-sm-10">
			<p id="user-password" class="form-control-static">•••••</p>
		</div>
	</div>
</fieldset>
</form>
</body>
</html>
