<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::content}, ~{}, 'my-nodes')}">
<head>
    <title data-th-text="#{app.name}">SolarUser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div class="container" data-th-fragment="content">
	<p class="intro" data-th-utext="#{my-nodes.invitation.intro}">
		Here is your invitation.
	</p>
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-th-aria-label="#{close.label}"></button>
		<span data-th-utext="#{my-nodes.solarnode.link.help}">Your SolarNode setup screen is available at whatever your node's DNS name or IP address is.</span>
	</div>
	<div class="row copyable-container">
		<div class="col-sm-11">
			<textarea class="form-control copyable" rows="5" data-th-text="${details.confirmationKey}" readonly style="min-height: 16rem;">
				abc123
				def456
			</textarea>
		</div>
		<div class="col-sm-1">
			<button type="button" class="btn btn-outline-secondary copy"
				data-bs-toggle="tooltip" data-bs-placement="top"
				title="Copy to Clipboard"
				data-th-title="#{copy.tooltip}">
				<span class="bi bi-clipboard2" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<h3></h3>
	<p class="alert alert-info">
		<strong data-th-text="#{my-nodes.invitation.securityPhrase.label} + ':'">Phrase:</strong>
		<span data-th-text="${details.securityPhrase}">My phrase</span>
	</p>
	<div>
		<a data-th-href="@{/u/sec/my-nodes}" class="btn btn-primary" data-th-text="#{back.label}">Back</a>
	</div>
</div>
</body>
</html>
