<!DOCTYPE html>
<html data-th-replace="layout :: layout(~{::title}, ~{::content}, ~{}, 'my-nodes')">
<head>
    <title data-th-text="#{app.name}">SolarUser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
	<link rel="stylesheet" href="../../../static/css/edit-node.css">
</head>
<body>
<div class="container" data-th-fragment="content">
<a id="top"></a>
<section id="pending-transfer-requests" data-th-if="${not #lists.isEmpty(pendingNodeOwnershipRequests)}">
	<h2 data-th-text="#{my-nodes.pending-transfer-requests.header}">Pending Transfer Requests</h2>
	<p data-th-utext="#{my-nodes.pending-transfer-requests.intro(${pendingNodeOwnershipRequests.size})}">
		You have 2 pending transfer requests.
	</p>
	<table class="table" id="pending-transfer-requests-table">
		<thead>
			<tr>
				<th data-th-text="#{user.node.id.label}">Node ID</th>
				<th data-th-text="#{my-nodes.transferOwnership.requester.label}">Requester</th>
				<th data-th-text="#{my-nodes.transferOwnership.requestDate.label}">Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="transfer : ${pendingNodeOwnershipRequests}">
				<td data-th-text="${transfer.node.id}">123</td>
				<td data-th-text="${transfer.user.email}">example@example.com</td>
				<td data-th-text="${#temporals.format(transfer.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td>
					<button type="button" class="btn btn-small btn-default decide-ownership-transfer"
						data-th-data-user-id="${transfer.user.id}"
						data-th-data-node-id="${transfer.node.id}"
						data-th-data-requester="${transfer.user.email}"
						data-th-text="#{my-nodes.transferOwnership.action.requestDecision}">
						Accept or Decline
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section id="pending" data-th-if="${not #lists.isEmpty(pendingUserNodeConfirmationsList)}">
	<h2 data-th-text="#{my-nodes.pending-invite.header}">Pending Invitations</h2>
	<p data-th-utext="#{my-nodes.pending-invite.intro(${pendingUserNodeConfirmationsList.size})}">
		You have 2 node invitations.
	</p>
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"
		data-th-aria-label="#{close.label}"><span aria-hidden="true">&times;</span></button>
		<span data-th-utext="#{my-nodes.solarnode.link.help}">
			Your SolarNode is available at http://solarnode/.
		</span>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="col-sm-2" data-th-text="#{user.nodeconf.created.label}">Created</th>
				<th class="col-sm-10"></th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="userNodeConf : ${pendingUserNodeConfirmationsList}">
				<td data-th-text="${#temporals.format(userNodeConf.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-default" data-th-href="@{/u/sec/my-nodes/invitation(id=${userNodeConf.id})}"
							data-th-text="#{my-nodes.view-invitation.link}">
							View Invitation
						</a>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only" data-th-text="#{toggle.dropdown.label}">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a class="btn btn-danger" data-th-href="@{/u/sec/my-nodes/cancelInvitation(id=${userNodeConf.id})}">
									<i class="glyphicon glyphicon-trash"></i>
									<span data-th-text="#{my-nodes.cancel-invitation.link}">Cancel</span>
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section id="pending-transfers" data-th-if="${not #lists.isEmpty(pendingUserNodeTransferList)}">
	<h2 data-th-text="#{my-nodes.pending-transfer-ownership.header}">
		Pending Transfers
	</h2>
	<p class="intro" data-th-utext="#{my-nodes.pending-transfer-ownership.intro(${pendingUserNodeTransferList.size})}">
		You have 2 pending transfers.
	</p>
	<table class="table" id="pending-transfer">
		<thead>
			<tr>
				<th data-th-text="#{user.node.id.label}">Node ID</th>
				<th data-th-text="#{user.node.created.label}">Created</th>
				<th data-th-text="#{my-nodes.transferOwnership.recipient.label}">Recipient</th>
				<th data-th-text="#{my-nodes.transferOwnership.requestDate.label}">Request Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="userNode : ${pendingUserNodeTransferList}" class="node-row">
				<td>
					<span data-th-text="${userNode.node.id}">123</span>
					<span data-th-if="${!#strings.isEmpty(userNode.name)}" data-th-text="${' - ' + userNode.name}"> - Home</span>
					<span data-th-if="${!#strings.isEmpty(userNode.description)}" data-th-text="${' (' + userNode.description + ')'}"> (Home node)</span>
				</td>
				<td data-th-text="${#temporals.format(userNode.node.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td data-th-text="${userNode.transfer.email}">example@example.com</td>
				<td data-th-text="${#temporals.format(userNode.transfer.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td>
					<button type="button"
						data-th-data-action="@{/u/sec/my-nodes/cancelNodeTransferRequest}"
						data-th-data-user-id="${userNode.user.id}"
						data-th-data-node-id="${userNode.node.id}"
						data-th-title="#{my-nodes.transferOwnership.action.cancel}"
						class="btn btn-small btn-danger cancel-ownership-transfer"><i class="glyphicon glyphicon-remove"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section id="nodes">
	<h2>
		<span data-th-text="#{my-nodes.nodelist.header}">My Nodes</span>
		<button type="button" id="invite-new-node-button" class="btn btn-primary pull-right" data-target="#invite-modal" data-toggle="modal">
			<i class="glyphicon glyphicon-plus"></i> <span data-th-text="#{my-nodes.inviteNode}">+</span>
		</button>
	</h2>
	<p class="intro" data-th-utext="#{my-nodes.intro(${userNodesList.size})}">
		Here are your nodes.
	</p>
	<table class="table" id="my-nodes-table" data-th-if="${not #lists.isEmpty(userNodesList)}">
		<thead>
			<tr>
				<th data-th-text="#{user.node.id.label}">ID</th>
				<th data-th-text="#{user.node.created.label}">Created</th>
				<th data-th-text="#{user.node.name.label}">Name</th>
				<th data-th-text="#{user.node.description.label}">Description</th>
				<th data-th-text="#{user.node.private.label}">Private</th>
				<th data-th-text="#{user.node.certificate.label}">Certificate</th>
				<th class="edit-dropdown"></th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="userNode : ${userNodesList}" class="node-row"
				data-th-data-node-id="${userNode.node.id}"
				data-th-data-user-id="${userNode.user.id}"
				data-th-data-node-name="${userNode.name}">
				<td data-th-text="${userNode.node.id}">123</td>
				<td data-th-text="${#temporals.format(userNode.node.created, 'dd MMM yyyy')}">
					1 Jan 2010
				</td>
				<td data-th-text="${userNode.name}">Home Node</td>
				<td data-th-text="${userNode.description}">Node at home.</td>
				<td>
					<span class="label" data-th-classappend="${!userNode.requiresAuthorization} ? 'label-success'"
						data-th-text="#{user.node.private.__${userNode.requiresAuthorization}__}">
					</span>
				</td>
				<td>
					<span class="label" data-th-if="${userNode.certificate}"
						data-th-classappend="${userNode.certificate.status.value == 'Active'
							? 'label-success' : userNode.certificate.status.value  == 'Disabled'
							? 'label-warning' : 'label-primary'}"
						data-th-text="#{user.node.certificate.status.__${userNode.certificate.status.value}__}">
						Active
					</span>
					<span class="label label-danger" data-th-unless="${userNode.certificate}"
						data-th-text="#{user.node.certificate.unmanaged}">
						Unmanaged
					</span>
				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-small btn-default edit-node"
							data-target="#edit-node-modal"
							data-th-data-user-id="${userNode.user.id}"
							data-th-data-node-id="${userNode.node.id}"
							data-th-text="#{my-nodes.action.edit}"
							>Edit</button>
						<button type="button" class="btn btn-small btn-default dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only" data-th-text="#{toggle.dropdown.label}">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-th-if="${userNode.certificate?.status?.value == 'Active'}">
								<a href="#" class="view-cert" data-th-text="#{user.node.certificate.action.view}">View</a>
							</li>
							<li data-th-if="${userNode.certificate?.status?.value == 'Active'}">
								<a href="#" class="view-cert" data-th-text="#{user.node.certificate.action.renew}">Renew</a>
							</li>
							<li>
								<a href="#" class="transfer-ownership" data-th-text="#{user.node.action.transferOwnership}">Transfer</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#" class="archive" data-th-text="#{user.node.action.archive}">Archive</a>
							</li>
						</ul>
					</div>
					<button class="btn btn-small btn-danger view-situation hidden" type="button">
						<span aria-hidden="true" class="glyphicon glyphicon-alert"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<!--/* Modal forms */-->

<form id="invite-modal" class="modal fade" data-th-action="@{/u/sec/my-nodes/new}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.inviteNode}">Invite Node</h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-text="#{my-nodes-invitation.create.intro}">Generate an invitation for a new SolarNode.</p>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{my-nodes.invitation.securityPhrase.label}">
		 				Security Phrase
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="phrase"
		 					data-th-placeholder="#{my-nodes.invitation.securityPhrase.label}"
		 					maxlength="128" required="required"/>
			 			<span class="help-block"><small data-th-text="#{my-nodes.invitation.securityPhrase.caption}">This will be shown on the SolarNode you are inviting.</small></span>
			 		</div>
		 		</div>
		 		<div class="form-group">
		 			<label class="col-sm-3 control-label" data-th-text="#{my-nodes.invitation.tz.label}">
		 				Time Zone
		 			</label>
		 			<div class="col-sm-8">
		 				<input type="text" class="form-control" name="timeZone" id="invite-tz"
		 					data-th-placeholder="#{my-nodes.invitation.tz.placeholder}"
		 					maxlength="128" required="required"/>
		 			</div>
		 			<div class="col-sm-1">
		 				<span class="help-block" id="invite-tz-country"></span>
		 			</div>
		 		</div>
	 			<div id="tz-picker-container" class="tz-picker-container"></div>
		 	</div>
		 	<div class="modal-body cert-create">
		 		<p class="alert alert-warning">
		 			<b data-th-text="#{my-nodes.create.warning}">Warning:</b>
		 			<span data-th-utext="#{my-nodes.create.intro}">this is an advanced feature.</span>
		 		</p>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" id="node-cert-create" class="btn btn-default pull-left"
		 			data-th-data-confirm-title="#{my-nodes.create.reaffirm}"
		 			data-th-text="#{my-nodes.create.link}"
		 			>Create Invitation</button>
		 		<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</button>
		 		<input type="hidden" name="country" id="invite-country"/>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{my-nodes.inviteNode}">Invite</button>
		 	</div>
		 </div>
 	</div>
</form>
<form id="view-cert-modal" class="modal fade" data-th-action="@{/u/sec/my-nodes/cert/0}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.cert.view.title}">View Certificate</h4>
		 	</div>
		 	<div class="modal-body">
		 		<p class="nocert" data-th-text="#{my-nodes.cert.view.intro}">View your certificate here.</p>
		 		<p class="cert hidden" data-th-text="#{my-nodes.cert.view.cert-intro}">Here is your certificate:</p>
		 		<div class="alert alert-info renewed hidden" data-th-text="#{my-nodes.cert.renewed.queued}">Your renewal request has been received.</div>
		 		<fieldset class="form-inline nocert">
		 			<label for="view-cert-password" data-th-text="#{my-nodes.cert.view.password.label}">Certificate Password</label>
					<input class="span3 form-control" type="password" name="password" id="view-cert-password" />
		 		</fieldset>
		 		<fieldset class="cert hidden">
			 		<table class="table">
			 			<tbody>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.serialNumber.label}">Serial Number</th>
			 					<td id="view-cert-serial-number"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.subject.label}">Subject</th>
			 					<td id="view-cert-subject"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.issuer.label}">Issuer</th>
			 					<td id="view-cert-issuer"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.validFrom.label}">Valid From</th>
			 					<td id="view-cert-valid-from"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.validUntil.label}">Valid Until</th>
			 					<td id="view-cert-valid-until"></td>
			 				</tr>
			 				<tr>
			 					<th data-th-text="#{my-nodes.cert.view.renewAfter.label}">Renew After</th>
			 					<td id="view-cert-renew-after"></td>
			 				</tr>
			 			</tbody>
			 		</table>
			 		<pre class="cert" id="modal-cert-container"></pre>
		 		</fieldset>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<a data-th-href="@{/u/sec/my-nodes/cert/0}" id="modal-cert-download" class="btn btn-default"
		 			data-th-text="#{my-nodes.cert.action.download}">
		 			Download
		 		</a>
		 		<a data-th-href="@{/u/sec/my-nodes/cert/renew/0}" id="modal-cert-renew" class="btn btn-primary renew hidden"
		 			data-th-text="#{my-nodes.cert.action.renew}">
		 			Renew
		 		</a>
		 		<button type="submit" class="btn btn-primary nocert" data-th-text="#{my-nodes.cert.action.view}">
		 			View
		 		</button>
		 	</div>
		 </div>
	</div>
</form>
<form id="edit-node-modal" class="modal fade page1" data-th-action="@{/u/sec/my-nodes/updateNode}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.edit-node.title}">Edit Node</h4>
		 	</div>
		 	<div class="modal-body">
				<div class="hbox">
					<fieldset class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-id" data-th-text="#{user.node.id.label}">Node ID</label>
							<div class="col-sm-10">
								<span class="uneditable-input span2 form-control" id="usernode-id"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-name" data-th-text="#{user.node.name.label}">Name</label>
							<div class="col-sm-10">
								<input name="name" type="text" maxlength="128" class="form-control" id="usernode-name">
								<span class="help-block" data-th-text="#{user.node.name.caption}">A short name to identify this node by.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-description" data-th-text="#{user.node.description.label}">Description</label>
							<div class="col-sm-10">
								<input name="description" type="text" maxlength="512" class="form-control" id="usernode-description">
								<span class="help-block" data-th-text="#{user.node.description.caption}">A brief description.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-private" data-th-text="#{user.node.private.label}">Private</label>
							<div class="col-sm-10">
								<div class="checkbox">
									<label>
										<input name="requiresAuthorization" type="checkbox" value="true" id="usernode-private">
										<span data-th-utext="#{user.node.private.caption}">A private node's data cannot be accessed without an appropriate security token.</span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="usernode-location" data-th-text="#{user.node.location.label}">Location</label>
							<div class="col-sm-10">
								<span id="usernode-location"></span>
								<button type="button" class="btn btn-default change-location" data-th-text="#{change.label}">Change</button>
							</div>
						</div>
					</fieldset>
					<fieldset class="form-horizontal edit-location-tz">
						<p data-th-utext="#{my-nodes.edit-node.choose-tz.intro}">Choose time zone.</p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-tz" data-th-text="#{location.tz.label}">Zone</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.zone" id="edit-node-location-tz"
		 							data-th-placeholder="#{my-nodes.invitation.tz.placeholder}"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-country" data-th-text="#{location.country.label}">Country</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.country" id="edit-node-location-country" maxlength="2" />
							</div>
				 		</div>
						<div class="tz-picker-container"></div>
					</fieldset>
					<fieldset class="form-horizontal" id="edit-node-location-details"
						data-th-data-lookup-url="${@environment.getProperty('app.network-identity.service-urls.solarquery') + '/api/v1/pub/location'}">
						<p data-th-utext="#{my-nodes.edit-node.choose-location.intro}">Choose a location.</p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-postal-code" data-th-text="#{location.postalCode.label}">Postal code</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.postalCode" id="edit-node-location-postal-code"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-locality" data-th-text="#{location.locality.label}">Locality</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.locality" id="edit-node-location-locality"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-state" data-th-text="#{location.state.label}">State</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.stateOrProvince" id="edit-node-location-state"
		 							maxlength="128" />
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-region" data-th-text="#{location.region.label}">Region</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.region" id="edit-node-location-region"
		 							maxlength="128" />
							</div>
				 		</div>
				 		<p class="hidden" id="edit-node-location-search-no-match" data-th-text="#{my-nodes.edit-node.choose-location.nomatch}">
				 			No match.
				 		</p>
						<table class="table table-striped table-hover hidden" id="edit-node-location-search-results">
							<thead>
								<tr>
									<th data-th-text="#{location.country.label}">Country</th>
									<th data-th-text="#{location.state.label}">State</th>
									<th data-th-text="#{location.region.label}">Region</th>
									<th data-th-text="#{location.locality.label}">Locality</th>
									<th data-th-text="#{location.postalCode.label}">Postal Code</th>
								</tr>
								<tr class="template">
									<td data-tprop="country"></td>
									<td data-tprop="stateOrProvince"></td>
									<td data-tprop="region"></td>
									<td data-tprop="locality"></td>
									<td data-tprop="postalCode"></td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</fieldset>
					<fieldset class="form-horizontal" id="edit-node-location-private-details">
						<p data-th-utext="#{my-nodes.edit-node.private-location.intro}">Private location details.</p>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-street" data-th-text="#{location.address.label}">Address</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.street" id="edit-node-location-street"
		 							maxlength="256">
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-latitude" data-th-text="#{location.lat.label}">Latitude</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.lat" id="edit-node-location-latitude"
		 							maxlength="16"  aria-describedby="edit-node-locaiton-latitude-help">
		 						<span class="help-block" id="edit-node-locaiton-latitude-help" data-th-text="#{my-nodes.edit-node.choose-location-private.latlon.caption}">GPS decimal notation.</span>
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-longitude" data-th-text="#{location.lon.label}">Longitude</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.lon" id="edit-node-location-longitude"
		 							maxlength="16" aria-describedby="edit-node-locaiton-longitude-help">
		 						<span class="help-block" id="edit-node-locaiton-longitude-help" data-th-text="#{my-nodes.edit-node.choose-location-private.latlon.caption}">GPS decimal notation.</span>
							</div>
				 		</div>
						<div class="form-group">
				 			<label class="col-sm-3 control-label" for="edit-node-location-elevation" data-th-text="#{location.elevation.label}">Elevation</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="node.location.el" id="edit-node-location-elevation"
		 							maxlength="12"  aria-describedby="edit-node-locaiton-elevation-help">
		 						<span class="help-block" id="edit-node-locaiton-elevation-help" data-th-text="#{my-nodes.edit-node.choose-location-private.elevation.caption}">Elevation in meters.</span>
							</div>
				 		</div>
					</fieldset>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</button>
		 		<button type="button" class="btn page2 page3 page4 btn-info" id="edit-node-page-back" data-th-text="#{back.label}">Back</button>
		 		<button type="submit" class="btn page1 btn-primary" data-th-text="#{save.label}">Save</button>
		 		<button type="button" class="btn page2 btn-primary" id="edit-node-select-tz" data-th-text="#{my-nodes.edit-node.choose-tz.action.select}">Edit time zone</button>
		 		<button type="button" class="btn page3 btn-primary" id="edit-node-select-location" disabled="disabled" data-th-text="#{my-nodes.edit-node.choose-location.action.select}">Edit location</button>
		 		<button type="button" class="btn page4 btn-primary" id="edit-node-select-location-private" data-th-text="#{my-nodes.edit-node.choose-location-private.action.select}">Edit private location</button>
		 	</div>
		</div>
	</div>
	<input type="hidden" name="node.id">
	<input type="hidden" name="user.id">
	<input type="hidden" name="node.locationId">
</form>
<form id="transfer-ownership-modal" class="modal fade" data-th-action="@{/u/sec/my-nodes/requestNodeTransfer}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.transferOwnership.title}"></h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{my-nodes.transferOwnership.intro}">Transfer node ownership.</p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-node" data-th-text="#{user.node.id.label}">Node ID</label>
					<div class="col-sm-10">
						<p id="transfer-ownership-node" class="form-control-static"></p>
					</div>
				</div>
		 		<div class="form-group">
		 			<label class="col-sm-2 control-label" for="transfer-ownership-recipient" data-th-text="#{my-nodes.transferOwnership.recipient.label}">Recipient</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="recipient" maxlength="240" id="transfer-ownership-recipient"
							required="required"
							data-th-placeholder="#{my-nodes.transferOwnership.recipient.placeholder}"
							aria-describedby="transfer-ownership-recipient-help">
						<span class="help-block" id="transfer-ownership-recipient-help" data-th-text="#{my-nodes.transferOwnership.recipient.caption}">Recipient must have a SolarNetwork account.</span>
					</div>
		 		</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<button type="submit" class="btn btn-primary" data-th-text="#{my-nodes.transferOwnership.action.submit}">
		 			Submit
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="nodeId">
	<input type="hidden" name="userId">
</form>
<form id="decide-transfer-ownership-modal" class="modal fade" data-th-action="@{/u/sec/my-nodes/confirmNodeTransferRequest}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.transferOwnership.requestDecision.title}">Accept or decline ownership transfer</h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{my-nodes.transferOwnership.requestDecision.intro}">Accept or decline this ownership transfer request.</p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-request-node" data-th-text="#{user.node.id.label}">Node ID</label>
					<div class="col-sm-10">
						<p id="transfer-ownership-request-node" class="form-control-static"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="transfer-ownership-request-requester" data-th-text="#{my-nodes.transferOwnership.requester.label}">Requester</label>
					<div class="col-sm-10">
						<p id="transfer-ownership-request-requester" class="form-control-static"></p>
					</div>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<button type="button" class="btn btn-danger submit" data-th-text="#{my-nodes.transferOwnership.action.decline}">
		 			Decline
		 		</button>
		 		<button type="button" class="btn btn-success submit" data-accept="true" data-th-text="#{my-nodes.transferOwnership.action.accept}">
		 			Accept
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="nodeId">
	<input type="hidden" name="userId">
	<input type="hidden" name="accept" value="false">
</form>
<form id="archive-node-modal" class="modal fade" data-th-action="@{/u/sec/my-nodes/archived}" method="post">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		 		<button type="button" class="close" data-dismiss="modal">&times;</button>
		 		<h4 class="modal-title" data-th-text="#{my-nodes.archive.title}">Archive node</h4>
		 	</div>
		 	<div class="modal-body form-horizontal">
		 		<p data-th-utext="#{my-nodes.archive.intro}">Archive this node to hide it from your account.</p>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="archive-node" data-th-text="#{user.node.id.label}">Node ID</label>
					<div class="col-sm-10">
						<p class="form-control-static node-name-label"></p>
					</div>
				</div>
		 	</div>
		 	<div class="modal-footer">
		 		<a href="#" class="btn btn-default" data-dismiss="modal" data-th-text="#{close.label}">Close</a>
		 		<button type="submit" class="btn btn-danger submit" data-th-text="#{my-nodes.archive.action.archive}">
		 			Archive
		 		</button>
		 	</div>
		 </div>
	</div>
	<input type="hidden" name="archived" value="true">
	<input type="hidden" name="nodeIds">
</form>

<div data-th-replace="sec/alerts/situation-modal :: modal"></div>
<script data-th-replace="sec/alerts/alert-enums :: script"></script>
</div>
</body>
</html>
