<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="central.user.cfg" persistent-id="net.solarnetwork.central.user">
		<beans:prop key="BasicAppConfigurationBiz.serviceUrls">
			solarquery = http://localhost/solarquery,
			solaruser = http://localhost/solaruser,
			node-dashboard = http://localhost/node-dashboard,
			node-dataview = http://localhost/node-dataview?nodeId={nodeId}
		</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="central.user.cfg"/>

	<!-- Published Services -->
	
	<service ref="cacheManager" interface="javax.cache.CacheManager">
		<service-properties>
			<entry key="app" value="user"/>
		</service-properties>
	</service>
	
	<bean id="cacheManager" class="net.solarnetwork.central.support.JCacheManagerFactoryBean">
		<property name="cacheManagerUri" value="classpath:/net/solarnetwork/central/user/ehcache.xml"/>
	</bean>
	
	<service interface="net.solarnetwork.central.biz.AppConfigurationBiz">
		<service-properties>
			<entry key="app" value="user"/>
		</service-properties>
		<bean class="net.solarnetwork.central.support.BasicAppConfigurationBiz">
			<property name="serviceUrlMapping" value="${BasicAppConfigurationBiz.serviceUrls}"/>
		</bean>
	</service>

</blueprint>
