<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.user.nim.jobs">
		<beans:prop key="NodeImageMakerMaintenance.jobCron">0 12 * * * ?</beans:prop>
		<beans:prop key="NodeImageMakerMaintenance.maximumWaitMs">600000</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>
	
	<!-- Service References -->

	<reference id="eventAdmin" interface="org.osgi.service.event.EventAdmin"/>
	
	<bean id="nimBizList" class="net.solarnetwork.util.DynamicServiceTracker">
		<property name="bundleContext" ref="bundleContext"/>
		<property name="serviceFilter" value="(&amp;(objectClass=net.solarnetwork.central.user.nim.biz.SolarNodeImageMakerBiz)(objectClass=net.solarnetwork.central.biz.MaintenanceSubscriber))"/>
	</bean>
	
	<!-- Published Services -->
	
	<service ref="nimMaintenanceJob" interface="org.osgi.service.event.EventHandler">
		<service-properties>
			<entry key="#{T(org.osgi.service.event.EventConstants).EVENT_TOPIC}">
				<array value-type="java.lang.String">
					<value>#{T(net.solarnetwork.central.scheduler.SchedulerConstants).TOPIC_SCHEDULER_READY}</value>
					<value>#{nimMaintenanceJob.jobTopic}</value>
				</array>
			</entry>
		</service-properties>
	</service>

	<!-- Supporting Services -->

	<bean id="nimMaintenanceJob" class="net.solarnetwork.central.user.nim.jobs.SolarNodeImageMakerMaintenanceJob"
				init-method="setup">
		<argument ref="eventAdmin"/>
		<argument ref="nimBizList"/>
		<property name="jobCron" value="${NodeImageMakerMaintenance.jobCron}"/>
		<property name="maximumWaitMs" value="${NodeImageMakerMaintenance.maximumWaitMs}"/>
		<property name="jobId" value="NodeImageMakerMaintenance"/>
		<property name="jobTopic" value="net/solarnetwork/central/user/nim/NodeImageMakerMaintenance"/>
	</bean>

</blueprint>
