.DS_Store
*.log
*.orig
*.swp
.gradle/
bin/
build/
logback-test.xml
var/
/*.properties
/solar*/src/main/resources/application-*.yml
/solar*/src/main/resources/logback.xml
/*.yml
/*/.vscode/*
/*/*.yml
/*/local/
