<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::main}, ~{}, 'login')">
<head>
    <title th:text="#{app.name}">SolarUser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/edit-node.css">
</head>
<body>
<main class="container" th:replace="registration/form-layout :: layout(~{::intro}, ~{}, ~{})">
	<p class="intro" th:utext="#{user.register.submitted.intro(${user.email})}" th:fragment="intro">
		Well done, check your email.
	</p>
</main>
</body>
</html>
