<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::main}, ~{}, 'login')}">
<head>
    <title data-th-text="#{app.name}">SolarUser Registration Submitted</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/edit-node.css">
</head>
<body>
<main class="container" data-th-replace="~{registration/form-layout :: layout(~{::intro}, ~{}, ~{})}">
	<p class="intro" data-th-utext="#{user.register.submitted.intro(${user.email})}" data-th-fragment="intro">
		Well done, check your email.
	</p>
</main>
</body>
</html>
