<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::main}, ~{}, 'login')">
<head>
    <title th:text="#{app.name}">SolarUser Registration Error</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../../../static/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
	<link rel="stylesheet" href="../../../static/css/edit-node.css">
</head>
<body>
<main class="container">
	<div class="alert alert-error" th:text="${rootCauseException != null && rootCauseException.reason eq 'REGISTRATION_ALREADY_CONFIRMED'} 
		? #{registration.confirm.alreadyconfirmed}
		: #{registration.confirm.notconfirmed}">
		Error with registration.
	</div>
</main>
</body>
</html>
