<!DOCTYPE html>
<html>
<head>
    <title data-th-text="#{account.title}">Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div class="container">

<div data-th-fragment="content">
	<fieldset data-th-object="${account.account}">
		<legend data-th-text="#{account.address.title}">Address</legend>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-name" data-th-text="#{account.address.name.label}">Name</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.name}" id="address-name" class="form-control-plaintext">John Smith</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-email" data-th-text="#{account.address.email.label}">Email</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.email}" id="address-email" class="form-control-plaintext">foo@bar</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-street" data-th-text="#{account.address.street.label}">Address</label>
			<div class="col-sm-6" id="address-street">
				<p  data-th-each="street : *{address.street}"
					data-th-unless="${#strings.isEmpty(street)}"
					data-th-text="${street}" class="form-control-plaintext">123 Main St</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-locality" data-th-text="#{account.address.locality.label}">City</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.locality}" id="address-locality" class="form-control-plaintext">Anytown</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-stateOrProvince" data-th-text="#{account.address.stateOrProvince.label}">State</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.stateOrProvince}" id="address-stateOrProvince" class="form-control-plaintext">Anyplace</p>
			</div>
		</div>
		<div class="row mb-3" data-th-if="*{address.region}">
			<label class="col-sm-2 col-form-label" for="address-region" data-th-text="#{account.address.region.label}">Region</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.region}" id="address-region" class="form-control-plaintext">Anywhere</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-postalCode" data-th-text="#{account.address.postalCode.label}">Postal Code</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.postalCode}" id="address-postalCode" class="form-control-plaintext">12345</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-country" data-th-text="#{account.address.country.label}">Country</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.country}" id="address-country" class="form-control-plaintext">US</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="address-timeZoneId" data-th-text="#{account.address.timeZoneId.label}">Time Zone</label>
			<div class="col-sm-6">
				<p data-th-text="*{address.timeZoneId}" id="address-timeZoneId" class="form-control-plaintext">America/New_York</p>
			</div>
		</div>
	</fieldset>
	<fieldset data-th-object="${account.account}">
		<legend data-th-text="#{account.locale.title}">Locale</legend>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="account-currency" data-th-text="#{account.currency.label}">Currency</label>
			<div class="col-sm-6">
				<p data-th-text="*{currencyCode}" class="form-control-plaintext" id="account-currency">USD</p>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label" for="account-locale" data-th-text="#{account.locale.label}">Language</label>
			<div class="col-sm-6">
				<p data-th-text="*{locale}" id="account-locale" class="form-control-plaintext">en-US</p>
			</div>
		</div>
	</fieldset>
	<fieldset  data-th-object="${account}">
		<legend data-th-text="#{account.features.title}">Features</legend>
		<div class="row mb-3">		
			<label class="col-sm-2 col-form-label" for="account-features"></label>
			<div class="col-sm-6" id="account-features">
				<p data-th-each="feature : *{entitlements}"
					data-th-text="#{${'account.feature.entitlement.' + feature + '.title'}}"
					class="form-control-plaintext">Feature</p>
				<p data-th-if="${#sets.isEmpty(account.entitlements)}" data-th-text="#{account.features.none}">None</p>
			</div>
		</div>
	</fieldset>
</div>

</div>
</body>
</html>