<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::title}, ~{::content}, ~{}, 'account')}">
<head>
    <title data-th-text="#{account.edit.confirm.title}">Account Edit Review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<div class="container" data-th-fragment="content">
<a id="top"></a>

<p class="intro" data-th-utext="#{account.edit.confirm.intro}">
	How's all that look?
</p>

<form data-th-object="${accountInput}" method="post" data-th-action="@{/u/sec/account/edit/confirm}">
	<div data-th-replace="~{sec/account/input-review :: content}">Account form review content here.</div>
	<div class="row mb-3">
		<div class="offset-sm-2 col-sm-10">
			<button type="submit" class="btn btn-primary" data-th-text="#{save.label}">Save</button>
			<a href="." class="btn btn-secondary" data-th-href="@{/u/sec/account/edit}" data-th-text="#{edit.label}">Edit</a>
		</div>
	</div>
</form>

</div>
</body>
</html>