.navbar .navbar-brand {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

fieldset.review .uneditable-input {
	color: black;
}

pre.cert {
	font-size: 9px;
	line-height: 11px;
}

label {
	font-weight: 700;
}

.timezone-pin {
	display: none;
}

.tz-picker-container {
	text-align: center;
}

.tz-picker-container div, 
.tz-picker-container map {
    margin: auto;
}


#edit-node-modal {
	width: 600px;
}
#edit-node-modal .form-horizontal .control-label {
	width: 130px;
}
#edit-node-modal .form-horizontal .controls {
	margin-left: 150px;
}
#edit-node-modal .form-horizontal input.span5 {
	width: 366px;
}

#modal-cert-container {
	margin-top: 12px;
}

#invite-tz-country {
	margin-left: -15px;
	font-weight: 700;
}

.hbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.after {
	display: none;
}

.monospace {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.modal-body {
	overflow-x: hidden;
}

.hidden,
.template {
	display: none;
}
