.navbar .brand {
	padding-top: 4px !important;
	padding-bottom: 5px !important;
}

fieldset.review .uneditable-input {
	color: black;
}

pre.cert {
	font-size: 9px;
	line-height: 11px;
}

label {
	font-weight: 700;
}

.timezone-pin {
	display: none;
}

.tz-picker-container {
	text-align: center;
}

.tz-picker-container div, 
.tz-picker-container map {
    margin: auto;
}

@media (min-width: 768px) {
	#edit-node-modal {
		width: 600px;
	}
	#edit-node-modal .form-horizontal .control-label {
		width: 90px;
	}
	#edit-node-modal .form-horizontal .controls {
		margin-left: 110px;
	}
}

.hbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.after {
	display: none;
}

.monospace {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.modal-body {
	overflow-x: hidden;
}
