<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../../../static/css/global.css">
</head>
<body>
<form id="confirm-datum-import-job-modal" class="edit-config import"  data-th-classappend="'modal fade'"
		data-th-action="@{/u/sec/import/jobs/{id}/confirm}" method="post" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" data-th-text="#{import.job.confirm.title}">Import</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-th-aria-label="#{close.label}"></button>
			</div>
		 	<div class="modal-body before">
		 		<p data-th-utext="#{import.job.confirm.intro}">Confirm your import job on this form.</p>
		 		<div class="row mb-3">
		 			<label class="col-sm-3 col-form-label" data-th-text="#{import.job.name.label}">
		 				Name
		 			</label>
		 			<div class="col-sm-8">
		 				<p class="form-control-plaintext" data-tprop="name"></p>
			 		</div>
		 		</div>
		 		<div class="row mb-3">
		 			<label class="col-sm-3 col-form-label" data-th-text="#{import.job.timeZoneId.label}">
		 				Time Zone
		 			</label>
		 			<div class="col-sm-8">
		 				<p class="form-control-plaintext" data-tprop="timeZoneId"></p>
			 		</div>
		 		</div>
		 		<div class="row mb-3">
		 			<label class="col-sm-3 col-form-label" data-th-text="#{import.job.batchSize.label}">
		 				Batch size
		 			</label>
		 			<div class="col-sm-8">
		 				<p class="form-control-plaintext" data-tprop="batchSize"></p>
			 		</div>
		 		</div>
		 	</div>
		 	<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-th-text="#{close.label}">Close</button>
		 		<button type="submit" class="btn btn-warning" data-th-text="#{import.job.action.confirm}">Import</button>
		 	</div>
		 </div>
 	</div>
 	<input type="hidden" name="id">
</form>
</body>
</html>