<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgix="http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium
		http://www.eclipse.org/gemini/blueprint/schema/blueprint-compendium/gemini-blueprint-compendium.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- Configuration -->
	
	<osgix:cm-properties id="cfg" persistent-id="net.solarnetwork.central.user.pki.dogtag">
		<beans:prop key="dogtag.keystore.path">classpath:/dogtag-client.jks</beans:prop>
		<beans:prop key="dogtag.keystore.pass">changeit</beans:prop>
	</osgix:cm-properties>

	<ctx:property-placeholder properties-ref="cfg"/>
	
	<!-- Service References -->
	
	<reference id="certificateService" interface="net.solarnetwork.support.CertificateService"/>
		
	<!-- Published Services -->
	
	<service ref="dogtagPKIBiz" ranking="1">
		<interfaces>
			<value>net.solarnetwork.central.user.biz.NodePKIBiz</value>
			<value>net.solarnetwork.central.domain.PingTest</value>
		</interfaces>
	</service>
	
	<service ref="restFactory" interface="net.solarnetwork.central.domain.PingTest"/>
	
	<!-- Supporting Services -->

	<bean id="restFactory" class="net.solarnetwork.central.user.pki.dogtag.SSLContextFactory">
		<property name="keystoreResource" value="${dogtag.keystore.path}"/>
		<property name="keystorePassword" value="${dogtag.keystore.pass}"/>
	</bean>
	
	<bean id="restOperations" factory-ref="restFactory" factory-method="createRestOps" />

	<bean id="dogtagPKIBiz" class="net.solarnetwork.central.user.pki.dogtag.DogtagPKIBiz">
		<osgix:managed-properties persistent-id="net.solarnetwork.central.user.pki.dogtag.DogtagPKIBiz" autowire-on-update="true"/>
		<property name="baseUrl" value="https://ca.solarnetworkdev.net:8443"/>
		<property name="certificateService" ref="certificateService"/>
		<property name="restOps" ref="restOperations"/>
	</bean>

</blueprint>
